/* 
 * Variables for site 
 * Font face
 * Default colours
*/

@font-face {
	font-family: "CircularStd";
	src: url("/fonts/CircularStd-Medium.eot") format("eot"), url('/fonts/CircularStd-Medium.eot') format('embedded-opentype'), url("/fonts/CircularStd-Medium.woff") format("woff"), url("/fonts/CircularStd-medium.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

// Balto font
@font-face {
	font-family: "Balto";
	src: url('/fonts/baltoweb-book.eot') format('eot'), url('/fonts/baltoweb-book.eot') format('embedded-opentype'), url('/fonts/baltoweb-book.woff') format('woff'), url("/fonts/balto-book.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

/* Site fonts (declaired at top of page) */

$balto-font: 'Balto';
$circular-font: 'CircularStd';
/* Font sizes (from title to body text) */

$title-text: 66px;
$secondary-heading: 42px;
$small-heading: 24px;
$body-text: 18px;
$small-text: 14px;
/* Font weights */

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
/* Line height */

$title-text-line-height: 60px;
$paragraph-text-line-height:30px;
/* Site wide colours */

$newable-blue: #0af;
$newable-faded-blue: rgba(0,
170,
255,
.8);
$newable-footer-grey: rgba(245,
245,
245,
0.6);
$newable-navy: #083875;
$newable-grey: #f0f0f0;
$newable-medium-grey: #A7C4CF;
$newable-dark-grey: #4d4e5e;
$newable-yellow: #FFE862;
$newable-white: #fff;