/*
* === ARTICLES AND EVENTS ===
*/

/* Styling for all articles on index page */

#news-grid {
	.article {
		margin: 0px;
		text-align: left;
		border: none;
		.article-featured-image-box {
			position: relative;
			.featured-image {
				max-width: 100%;
				height: auto;
				display: block;
				position: relative;
				width: 100%;
				object-fit: cover;
			}
		}
		.article-meta-information {
			color: #cacacd;
			font-size: 15px;
			font-family: $balto-font;
			font-weight: 300;
			border-bottom: 1px solid #f0f0f0;
			padding-bottom: 5px;
		}
		.article-content {
			padding: 30px 30px 30px 30px;
			background-color: #ffffff;
		}
		.article-title {
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 24px;
			font-weight: 500;
			margin-top: 10px;
			margin-bottom: 10px;
			word-wrap: break-word;
			a {
				color: $newable-navy;
			}
		}
		.article-body {
			line-height: 24px;
			font-family: $balto-font;
			font-size: 18px;
			font-weight: 300;
			p {
				line-height: 24px;
				font-family: $balto-font;
				color: $newable-dark-grey;
				font-size: 18px;
				font-weight: 300;
				word-wrap: break-word;
				a {
					color: $newable-blue;
				}
			}
			a {
				color: $newable-blue;
			}
			.article-excerpt p {
				line-height: 24px;
				font-family: $circular-font;
				color: $newable-navy;
				font-size: 21px;
				font-weight: 500;
				word-wrap: break-word;
			}
		}
		.article-footer {
			padding-top: 15px;
			border-top: 1px solid $newable-grey;
			padding-bottom: 30px;
		}
		.interactions-panel {
			width: auto;
			float: right;
		}
		.sticker {
			background-color: #fff;
			background-color: rgba(255, 255, 255, 0.92);
			text-transform: uppercase;
			font-size: 12px;
			line-height: 18px;
			color: #282C35;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			position: absolute;
			display: inline-block;
			top: 0px;
			right: 0px;
			height: 45px;
			width: 45px;
		}
		/* Dark theme */
		&.dark {
			.article-title {
				a {
					color: $newable-blue;
				}
			}
			.article-content {
				background-color: $newable-dark-grey;
				.article-body {
					p {
						color: #ffffff;
					}
				}
			}
		}
		&.tweet {
			.featured-image {
				margin-bottom: -10px;
			}
			.twitter-title {
				color: #eee;
				font-size: 16px;
				padding: 25px 0 10px 0;
				a {
					color: inherit;
					text-decoration: underline;
				}
			}
			.sticker-twitter {
				background: $newable-navy;
				.icon-twitter {
					.fa-twitter {
						color: $newable-blue;
						font-size: 20px;
						line-height: 45px;
						text-align: center;
						width: 100%;
						height: auto;
					}
				}
			}
			.article-content {
				background-color: $newable-blue;
				.article-body {
					p {
						color: #ffffff;
						font-weight: 700;
					}
				}
			}
		}
		&.facebook {
			.facebook-title {
				color: #eee;
				font-size: 16px;
				padding: 25px 0 10px 0;
				a {
					color: inherit;
					text-decoration: underline;
				}
			}
			.sticker-facebook {
				background: $newable-blue;
				.icon-facebook {
					.fa-facebook {
						color: $newable-white;
						font-size: 20px;
						line-height: 45px;
						text-align: center;
						width: 100%;
						height: auto;
					}
				}
			}
			.article-content {
				background-color: $newable-navy;
				.article-body {
					p {
						color: #ffffff;
						font-weight: 700;
					}
				}
			}
		}
	}
	#return-to-top {
		position: fixed;
		bottom: 15px;
		right: 15px;
		background: $newable-navy;
		width: 50px;
		height: 50px;
		display: block;
		text-decoration: none;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		border-radius: 35px;
		display: none;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		>i {
			color: $newable-blue;
			font-size: 32px;
			position: relative;
			left: 11px;
			top: 9px;
		}
		&:hover {
			background-color: $newable-dark-grey;
		}
	}
}

/* Styling for articles displayed on page */

.article {
	margin: 30px 0 30px 0;
	border: 2px solid $newable-grey;
	&.featured-article {
		position: relative;
		.sticker {
			position: absolute;
			top: -28px;
			right: 0;
			height: 30px;
			width: 30px;
			.icon {
				width: 27px;
				height: 27px;
				margin: 1px 2px auto 2px;
			}
		}
	}
	.article-featured-image-box {
		position: relative;
		.featured-image {
			max-width: 100%;
			height: auto;
			display: block;
			position: relative;
			width: 100%;
			object-fit: cover;
		}
	}
	.article-header {
		padding: 20px 0 60px 0;
	}
	.article-meta-information {
		color: #cacacd;
		font-size: 15px;
		font-family: $balto-font;
		font-weight: 300;
	}
	.article-content {
		padding: 0px 30px 30px 30px;
		background-color: #ffffff;
	}
	.article-title {
		font-family: $circular-font;
		color: $newable-navy;
		font-size: 30px;
		font-weight: 500;
		margin-top: 10px;
		margin-bottom: 10px;
		word-wrap: break-word;
	}
	.article-body {
		line-height: 24px;
		font-family: $balto-font;
		font-size: 18px;
		font-weight: 300;
		p {
			line-height: 24px;
			font-family: $balto-font;
			color: $newable-dark-grey;
			font-size: 18px;
			font-weight: 300;
			word-wrap: break-word;
		}
		a {
			color: $newable-blue;
		}
		.article-excerpt p {
			line-height: 24px;
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 21px;
			font-weight: 500;
			word-wrap: break-word;
		}
	}
	.article-footer {
		padding-top: 15px;
		border-top: 1px solid $newable-grey;
		padding-bottom: 30px;
	}
	.interactions-panel {
		width: auto;
		float: right;
	}
}

/* Styling for tag words both within a tag row and as a stand alone element */

.tag-word {
	background-color: rgba(235, 235, 235, 0.5);
	font-size: 15px;
	line-height: 27px;
	font-family: $balto-font;
	color: $newable-blue;
	font-weight: 600;
	display: inline-block;
	padding: 5px 10px;
	margin: 3px;
	&:hover,
	&:focus {
		text-decoration: none;
		color: $newable-blue;
		background-color: darken(rgba(235, 235, 235, 0.5), 10%);
	}
}

.tag-cloud {
	background-color: rgba(235, 235, 235, 0.5);
	font-family: "Balto";
	color: #0af;
	font-weight: 600;
	display: inline-block;
	padding: 5px 10px;
	margin: 3px;
}

/* Styling for tag word row in articles and events */

.tag-row {
	min-height: 30px;
	width: auto;
	font-size: 15px;
	line-height: 27px;
	font-family: $circular-font;
	color: #b4b4b9;
	font-weight: 500;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: inline-block;
	.tag-words-list {
		max-height: auto;
		list-style: none;
		display: inline-block;
		.tag-word {
			background-color: rgba(235, 235, 235, 0.5);
			font-size: 15px;
			line-height: 27px;
			font-family: $balto-font;
			color: $newable-blue;
			font-weight: 600;
			display: inline-block;
			padding: 5px 10px;
			margin: 3px;
			/* On an interaction, darken the background */
			&:hover,
			&:focus {
				text-decoration: none;
				color: $newable-blue;
				background-color: darken(rgba(235, 235, 235, 0.5), 10%);
			}
		}
	}
}

.article-subheading {
	line-height: 24px;
	font-family: $circular-font;
	color: $newable-navy;
	font-size: 21px;
	font-weight: 500;
}

.button-row {
	margin-top: 30px;
	margin-bottom: 45px;
	height: 45px;
}

.button-text {
	&.icon-right {
		margin-right: 5px;
	}
	&.icon-left {
		margin-left: 5px;
	}
}

.icon-small {
	width: 15px;
	height: 15px;
}

/* Styling for lists of events */

.event-list-container {
	.header {
		border-bottom: 1px solid $newable-grey;
		margin-bottom: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
		.heading {
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 30px;
			font-weight: 500;
		}
	}
	padding: 30px 30px;
	background-color: #ffffff;
	height: auto;
	ul.pagination {
		float: right;
	}
	.event-box {
		border-bottom: 1px solid $newable-grey;
		min-height: 1px;
		margin-bottom: 30px;
		padding-bottom: 30px;
		.date {
			width: 100%;
			text-align: center;
			color: $newable-blue;
			p {
				color: $newable-blue;
			}
			.day {
				font-size: 40px;
				font-weight: 700;
				margin-bottom: 0px;
			}
			.month {
				font-size: 24px;
			}
		}
		.event-image {
			img {
				width: 100%;
				height: auto;
				max-height: 135px;
			}
		}
		.event-details {
			.inline-title {
				font-size: 18px;
				font-family: Balto;
				color: $newable-navy;
				font-weight: 700;
				line-height: 33px;
				margin-right: 10px;
			}
			.title {
				margin-top: 0px;
				font-size: 21px;
				color: $newable-navy;
				word-wrap: break-word;
			}
			.when,
			.where {
				margin-bottom: 0px;
				font-size: 18px;
				font-family: Balto;
				color: #b4b4b9;
				font-weight: 300;
				line-height: 33px;
				word-wrap: break-word;
			}
		}
	}
}

/* Event sidebar details (containing when, where & enquires) */

.event-sidebar-details-box {
	background: $newable-blue;
	color: #fff;
	margin: 30px 0 0 0;
	padding: 25px 25px;
	.event-sidebar-title {
		border-bottom: 1px solid #fff;
		font-size: 24px;
		margin: 0;
		padding-bottom: 10px;
		font-weight: 500;
	}
	.event-sidebar-subtitle {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 5px;
	}
	p {
		color: #fff;
		margin: 0;
		line-height: 1.2;
	}
	a {
		color: #fff;
		text-decoration: underline;
	}
	.btn-book-your-place {
		text-decoration: none;
		width: 100%;
		margin-top: 25px;
	}
}

/* Styling for event Slick Slider */

#event-slider {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 20px 25px;
	.event-slide {
		padding: 25px 0;
		p {
			line-height: 0.8em;
		}
		.event-date {
			display: block;
			width: calc(23% - 7.5px);
			text-align: center;
			float: left;
			.event-day {
				color: $newable-blue;
				font-size: 48px;
				font-weight: 600;
				margin-bottom: 8px;
			}
			.event-month {
				color: $newable-blue;
				font-size: 24px;
				font-weight: 600;
			}
		}
		.event-details {
			display: block;
			width: calc(77% - 7.5px);
			float: right;
			text-align: left;
			.event-title {
				margin: 0;
				color: $newable-navy;
				font-size: 24px;
				padding-bottom: 20px;
				a {
					color: inherit;
				}
			}
			.event-details-group {
				padding-bottom: 10px;
				overflow: auto;
				&:last-of-type {
					padding-bottom: 0;
				}
				.event-subtitle {
					width: 30%;
					display: block;
					float: left;
					color: $newable-navy;
					font-weight: 600;
				}
				.event-detail {
					width: 70%;
					display: block;
					float: right;
					color: #b3b3b3;
					margin-bottom: 10px;
					&.event-location {
						line-height: 1.3;
						margin-top: -5px;
					}
				}
			}
		}
	}
}

/* Arrow styling */

.event-slider-nav {
	overflow: auto;
	.slick-arrow {
		background: none;
		color: $newable-blue;
		font-weight: 600;
		border: none;
		padding: 0 25px;
		outline: none;
		&.slick-prev {
			float: left;
		}
		&.slick-next {
			float: right;
		}
	}
} //Event sidebar map
.event-sidebar-map {
	margin-bottom: 25px;
}

.delete-event-form {
	display: inline-block;
}

.create-event-sidebar-box {
	margin-bottom: 15px;
}

.event-search {
	margin-top: 30px;
}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Landscape tablets and medium desktops */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/* Event Slider */
	#event-slider {
		.event-slide {
			.event-date {
				display: block;
				float: none;
				width: 100%;
			}
			.event-details {
				width: 100%;
				float: none;
				margin-top: 15px;
				.event-details-group {
					.event-subtitle {
						width: 35%;
					}
					.event-detail {
						width: 100%;
						float: none;
					}
				}
			}
		}
	}
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	/* Article styling on mobile */
	.article {
		.article-header {
			padding: 20px 0 40px 0;
			.tag-row {
				.tag-words-list {
					padding: 0 0;
				}
			}
			.interactions-panel {
				width: auto;
				float: none;
				margin-top: 30px;
				.interaction-row {
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
		.article-body {
			p {
				margin: 0 0 20px;
			}
		}
	}
	/* Event list styling */
	.event-box .event-details {
		margin-top: 30px;
	}
	/* Event Slider */
	#event-slider {
		.event-slide {
			.event-date {
				display: block;
				float: none;
				width: 100%;
			}
			.event-details {
				width: 100%;
				float: none;
				margin-top: 15px;
				.event-details-group {
					.event-subtitle {
						width: 35%;
					}
					.event-detail {
						width: 100%;
						float: none;
					}
				}
			}
		}
	}
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
	.personal-profile .name-role {
		text-align: center;
	}
}