/*
* === BIO SECTIONS FOR USERS AND TEAMS ===
*/

/* Personal profile styling (styling for Edit Profile page) */

.personal-profile {
	padding: 30px 30px;
	background-color: #ffffff;
	margin-bottom: 30px;
	.header-section {
		margin-bottom: 60px;
	}
	.profile-picture-box {
		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}
	/* Name and role section */
	.name-role {
		border-bottom: 1px solid $newable-grey;
		padding-top: 15px;
		padding-bottom: 22px;
		text-align: left;
		.name {
			font-family: $circular-font;
			color: $newable-navy;
			font-weight: 500;
			font-size: 36px;
		}
		.role {
			font-family: $circular-font;
			color: $newable-navy;
			font-weight: 500;
			font-size: 21px;
		}
	}
	.update-image-button {
		box-sizing: border-box;
		position: absolute;
		display: inline-block;
		bottom: 0;
		left: 15px;
		height: 20px;
		width: 25px;
		background: #0af;
		color: #ffffff;
		&:hover,
		&:focus {
			background: $newable-navy;
		}
	}
	.filler {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
	a.inline-edit {
		color: $newable-blue;
		&:hover,
		&:focus {
			color: $newable-navy;
		}
		>i {
			padding-left: 5px;
		}
	}
}

/* Team member image list syling */

.team {
	padding: 0 5px;
	#teamMate {
		.image {
			opacity: 1;
			display: block;
			width: 100%;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;
		}
		.middle {
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
			.text {
				background-color: $newable-blue;
				color: white;
				font-size: 16px;
				padding: 16px 32px;
			}
		}
		&:hover,
		&:focus {
			.image {
				opacity: 0.3;
			}
			.middle {
				opacity: 1;
			}
		}
	}
}

// Image preview box
.preview {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

/* Team biography styling (used on people and teams pages) */

.team-bio {
	padding: 20px 58px 72px 30px;
	background-color: #ffffff;
	margin-bottom: 30px;
	.header {
		border-bottom: 1px solid $newable-grey;
		margin-bottom: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.heading {
		font-family: $circular-font;
		color: $newable-navy;
		font-size: 30px;
		font-weight: 500;
	}
	.body {
		p {
			line-height: 24px;
			font-family: Balto;
			color: $newable-dark-grey;
			font-size: 18px;
			font-weight: 300;
		}
		ul {
			list-style-type: none;
			text-align: left;
			>li {
				line-height: 24px;
				font-family: $balto-font;
				color: #b4b4b9;
				font-size: 18px;
				font-weight: 300;
				&:before {
					content: '\2014';
					/* en dash */
					position: absolute;
					margin-left: -2.2em;
					font-family: "Balto";
					font-size: 18px;
					color: #0af;
					line-height: 24px;
				}
			}
		}
		.secondary-heading {
			line-height: 24px;
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 21px;
			font-weight: 500;
		}
	}
}

/* Styling for user profile view (used on people and teams pages) */

.person-bio {
	margin-bottom: 30px;
	background-color: #ffffff;
	.name {
		font-family: $circular-font;
		color: $newable-navy;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
	}
	.role {
		font-family: $circular-font;
		color: $newable-navy;
		font-weight: 500;
		font-size: 21px;
		line-height: 36px;
	}
	.contact-info {
		font-family: Balto;
		font-size: 18px;
		font-weight: 300;
		color: #b4b4b9;
		>a:not(.link-text) {
			color: #b4b4b9;
		}
	}
	.sub-heading {
		line-height: 24px;
		font-family: $circular-font;
		color: $newable-navy;
		font-size: 21px;
		font-weight: 500;
	}
	.background-and-skills {
		margin-top: 30px;
		padding: 0px 30px;
		padding-bottom: 30px;
		p {
			line-height: 24px;
			color: $newable-dark-grey;
			font-family: Balto;
			font-size: 18px;
			font-weight: 300;
		}
	}
	.fa-linkedin,
	.fa-twitter-square {
		font-size: 40px;
		color: $newable-blue;
		&:hover,
		&:focus {
			color: $newable-navy;
		}
	}
}

/* User Profile Send Message Box */
.profile-send-message-box{
	#message_body{
		padding-bottom: 7px;
	}
}

/* Org Chart box styling */

.org-chart {
	background: $newable-blue;
	color: $newable-white;
	padding: 20px 28px 20px 28px;
	width: 100%;
	margin-bottom: 30px;
	.header {
		border-bottom: 1px solid #ffffff;
		margin-bottom: 25px;
		.heading {
			font-family: $circular-font;
			color: #ffffff;
			font-size: 30px;
			font-weight: 500;
			line-height: 36px;
			text-align: center;
			padding-bottom: 15px;
		}
	}
	.body {
		margin-bottom: 25px;
		p {
			font-family: Balto;
			color: #ffffff;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			margin-top: 25px;
		}
	}
}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.team-bio {
		padding: 20px 30px 72px 30px;
	}
	.person-bio {
		margin-bottom: 30px;
		background-color: #ffffff;
		.info-block {
			padding: 0 30px;
		}
		.name {
			font-family: $circular-font;
			color: $newable-navy;
			font-weight: 500;
			font-size: 30px;
			line-height: 37px;
		}
		.role {
			font-family: $circular-font;
			color: $newable-navy;
			font-weight: 500;
			font-size: 21px;
			line-height: 36px;
		}
		.contact-info {
			font-family: Balto;
			font-size: 18px;
			font-weight: 300;
			color: #b4b4b9;
		}
		.sub-heading {
			line-height: 24px;
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 21px;
			font-weight: 500;
		}
		.background-and-skills {
			margin-top: 30px;
			padding: 0px 30px;
			padding-bottom: 30px;
			p {
				line-height: 24px;
				color: $newable-dark-grey;
				font-family: Balto;
				font-size: 18px;
				font-weight: 300;
			}
		}
		.fa-linkedin,
		.fa-twitter-square {
			font-size: 40px;
			color: $newable-blue;
			&:hover,
			&:focus {
				color: $newable-navy;
			}
		}
	}
	.personal-profile {
		.pull-right {
			float: none !important;
		}
		.name-role {
			text-align: center;
		}
	}
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
	.personal-profile .name-role {
		text-align: center;
	}
}