/*
* === BREADCRUMB BAR STYLING ===
*/

.breadcrumb-bar {
	height: 45px;
	width: 100%;
	background-color: #a6c3ce;
	margin-bottom: 30px;
	>ul {
		list-style: none;
		display: inline-block;
		padding-left: 25px;
		padding-right: 25px;
		>li {
			font-family: $balto-font;
			color: #ffffff;
			font-size: 12px;
			font-weight: 300;
			line-height: 46px;
			transform: scaleY(0.997);
			float: left;
			>a {
				font-family: $balto-font;
				color: #ffffff;
				font-size: 12px;
				font-weight: 300;
				line-height: 46px;
				transform: scaleY(0.997);
			}
			+li:before {
				content: " | ";
				color: #ffffff;
				padding-top: 0px;
				padding-right: 5px;
				padding-bottom: 0px;
				padding-left: 7px;
			}
		}
	}
}