/*
* === CALENDAR WIDGET STYLING  ===
*/

#events-widget {
    background: $newable-white;
    padding: 20px 0;
    .widget-heading {
        overflow: auto;
        padding: 0 25px 20px 15px;
        .events-title {
            font-size: $small-heading;
            color: $newable-navy;
            margin: 0;
            padding: 0 15px;
            display: inline-block;
            float: left;
        }
        .exit-widget {
            border: 1px solid $newable-navy;
            display: inline-block;
            background: $newable-white;
            color: $newable-navy;
            font-weight: 700;
            height: 25px;
            width: 25px;
            line-height: 22px;
            float: right;
        }
    }
    #calendar-widget {
        .fc-head {
            background: $newable-yellow;
            .fc-day-header {
                padding: 15px 0;
                span {
                    display: block;
                    font-size: 0;
                    &:first-letter {
                        font-size: 18px;
                    }
                }
            }
        } //Toolbar containing date + month arrows
        .fc-header-toolbar {
            background: $newable-blue;
            margin-bottom: 0;
            height: 45px; //Current Date text
            h2 {
                color: #fff;
                font-weight: 400;
                font-size: 20px;
                line-height: 45px;
            } //Month changer buttons
            .fc-button {
                background: none;
                color: $newable-white;
                border: none;
                font-size: 14px;
                box-shadow: none;
                text-shadow: none;
                outline: none;
                height: 45px;
                .fc-icon {
                    top: 0;
                }
            }
            .fc-button-group {
                height: 45px;
            }
        } //Remove Column borders
        .fc-widget-header,
        .fc-widget-content {
            border: none;
        } //Day Column
        .fc-day {
            background: $newable-white;
        }
        .fc-scroller {
            overflow-y: hidden !important;
            height:auto !important;
        } //Day Column with Text 
        .fc-day-top {
            .fc-day-number {
                color: $newable-navy;
                font-weight: 700;
                font-size: 16px;
                line-height: 40px;
                width: 44px;
                display: block;
                text-align: center;
            }
            &.event-day {
                .fc-day-number {
                    border-radius: 99px;
                    background: $newable-blue;
                    color: #fff;
                    margin: 8px 6px 7px 6px;
                    line-height: 1.55;
                    width: 25px;
                    height: 25px;
                }
            }
        }
        tr:first-child>td>.fc-day-grid-event {
            display: none;
        } //Go to today button
        .fc-today-button {
            display: none;
        }
        .fc-basic-view {
            .fc-body {
                .fc-row {
                    min-height: 45px;
                    border-color: transparent;
                }
            }
        }
        .fc-more-cell{
            display: none;
        }
    }
}