/* Dots */

.slick-slide {
	width: 270px;
}

.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '\25CF';
	text-align: center;
	opacity: 1;
	color: #0af;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: $newable-navy;
}

/* the slides */

.slick-slide {
	margin: 0 15px;
	height: auto !important
}

/* the parent */

.slick-list {
	margin: 0 -15px;
}

/*****************************************************************/

/**** Teams carousel styling ****/

/*****************************************************************/

.carousel-box {
	height: 443px;
	height: auto;
	margin-bottom: 30px;
	padding: 15px 25px;
	padding-bottom: 30px;
	background-color: #ffffff;
	.header {
		border-bottom: 1px solid $newable-grey;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	.heading h2 {
		font-family: $circular-font;
		color: $newable-navy;
		font-size: 30px;
		font-weight: 500;
	}
	.carousel-container {
		width: 100%;
		height: auto;
	}
	.carousel-item {
		height: auto;
		width: 100%; // Generic carousel items (not team)
		.details {
			text-align: center;
		}
		.title {
			font-family: $circular-font;
			color: $newable-blue;
			font-size: 21px;
			font-weight: 500;
		}
		.sub-text {
			font-family: $balto-font;
			color: #b4b4b9;
			font-size: 15px;
			font-weight: 300;
			line-height: 18px;
			min-height: 40px;
			padding: 0 50px;
		}
		.picto {
			padding: 15px;
			margin-bottom: 25px;
			img {
				height: 123px;
				width: auto;
				max-width: 100%;
				margin: auto;
			}
		}
	}
	a:hover,
	a:focus {
		color: none;
		text-decoration: none;
	}
}

.controls {
	float: right;
	margin-top: -43px;
	button {
		border: none;
		outline: none;
		background-color: #0af;
		color: #fff;
		height: 43px;
		width: 43px;
		&:hover,
		&:focus {
			background-color: $newable-navy;
		}
	}
}

@media(max-width:480px) {
	.carousel-box {
		margin-bottom: 30px;
		padding-bottom: 5px;
		.carousel-item {
			.team-member {
				margin-bottom: 0px;
			}
		}
	}
	.controls {
		float: none;
		margin-top: 15px;
		#prev {
			// Only need to float one
		}
		#next {
			float: right;
		}
	}
}

.visible {
	display: block;
	&:hover,
	&:focus {
		filter: brightness(60%);
	}
}

// Team members within carousel
.team-member {
	.team-member-image {
		img {
			width: 270px;
			max-width: 100%;
			height: auto;
		}
	}
	.team-member-info-box {
		background-color: $newable-navy;
		padding: 22px 20px 22px 20px;
		min-height: 142px;
		.team-member-name {
			font-family: $circular-font;
			color: $newable-blue;
			font-size: 21px;
			font-weight: 500;
			margin-bottom: 0px;
		}
		.team-member-role {
			font-family: $balto-font;
			color: #ffffff;
			font-size: 15px;
			font-weight: 300;
		}
	}
	>a {
		text-decoration: none;
		&:hover,
		&:focus {
			>.team-member-info-box {
				background-color: $newable-yellow;
				.team-member-name {
					color: $newable-navy;
				}
				.team-member-role {
					color: $newable-navy;
				}
			}
		}
	}
}