.comment-box {
    padding: 30px 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
    .header {
        padding-top: 15px;
        padding-bottom: 15px;
        .heading {
            font-family: $circular-font;
            color: $newable-navy;
            font-size: 30px;
            font-weight: 500;
        }
    }
}

.comments-box {
    padding: 30px 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
    .header {
        padding-top: 15px;
        padding-bottom: 15px;
        .heading {
            font-family: $circular-font;
            color: $newable-navy;
            font-size: 30px;
            font-weight: 500;
        }
    }
    .comment {
        margin-bottom: 30px;
        border-bottom: 1px solid $newable-grey;
        .name {
            font-family: $circular-font;
            color: $newable-blue;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .role {
            font-family: Balto;
            color: #b4b4b9;
            font-size: 15px;
            font-weight: 300;
            line-height: 10px;
        }
        .text {
            font-family: Balto;
            color: $newable-dark-grey;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
        }
        .reply {
            font-family: Balto;
            color: #b4b4b9;
            font-size: 15px;
            font-weight: 300;
            line-height: 10px;
        }
    }
    .reply {
        margin-bottom: 30px;
        margin-left: 30px;
        .name {
            font-family: $circular-font;
            color: $newable-blue;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .role {
            font-family: Balto;
            color: #b4b4b9;
            font-size: 15px;
            font-weight: 300;
            line-height: 10px;
        }
        .text {
            font-family: Balto;
            color: $newable-dark-grey;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            padding-bottom: 30px;
        }
    }
}