// Container for elements in story box
.story-container {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: box-shadow .2s cubic-bezier(0, .2, .4, 1);
	background-color: #fff;
	display: block;
	border: 1px solid $newable-grey;
	margin-bottom: 15px; // Link that spans the container
	.story-container-link {
		display: block;
		text-decoration: none;
		color: #007f8c;
		&:hover {
			text-decoration: none;
		}
	} // Header of box
	.story-header {
		position: relative;
		line-height: 0; // Creates the sizing of this element, even if there's nothing in it
		&:before {
			display: block;
			content: "\00A0";
			width: 100%;
			padding-top: 50%;
		}
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			display: block;
			content: "\00A0";
			width: 100%;
			background: #EFF2F5;
		} // Image container absolutely positioned in the header of the box
		.story-image-box {
			// Fallback background colour in case image doesn't load
			background-color: #0af;
			overflow: hidden;
			text-align: center; // Place exactly over the top of the header box
			position: absolute;
			top: 0;
			left: 0; // Fill all of the given space
			width: 100%;
			height: 100%; // The image within the container
			.story-image {
				max-width: 100%;
				height: auto;
				display: block; // Vertically center this element
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				position: relative;
				top: 50%;
			}
		} // Sticker element near top right of box	
		.sticker {
			background-color: #fff;
			background-color: rgba(255, 255, 255, .92);
			text-transform: uppercase;
			font-size: 12px;
			line-height: 18px;
			color: #282C35;
			box-sizing: border-box;
			position: absolute;
			display: inline-block;
			top: 0px;
			right: 0px;
			height: 45px;
			width: 45px;
			.yellow {
				background-color: #ffe862;
			}
		}
	} // Main body
	.story-body {
		padding: 5px 20px;
		margin-top: 30px;
		margin-bottom: 30px; // Details
		.story-details {
			font-family: $balto-font;
			color: #b4b4b9;
			font-size: 15px;
			font-weight: 300;
			line-height: 36px;
			padding-bottom: 0px;
			border-bottom: 1px solid;
			margin-bottom: 30px;
			.story-date,
			.story-author {
				font-family: $balto-font;
				color: #b4b4b9;
				font-size: 15px;
				font-weight: 300;
				line-height: 36px;
				letter-spacing: 1px;
				padding: 5px 0 0;
			}
			.seperator:before {
				content: ' | ';
			}
		}
		.story-title {
			display: block;
			color: #282C35;
			font-size: 15px;
			letter-spacing: 0;
			padding: 0;
			height: 2.5em;
			font-family: $circular-font;
			color: $newable-dark-grey;
			font-size: 21px;
			font-weight: 500;
			line-height: 24px;
			margin-bottom: 25px;
		}
		.story-blurb {
			max-height: 125px;
			font-family: $balto-font;
			color: $newable-dark-grey;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			&:after {
				font-family: $balto-font;
				color: $newable-blue;
				font-size: 18px;
				font-weight: 300;
				line-height: 24px;
				content: '[...]';
			}
		}
	}
}

// Case study boxes
.case-study-container {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: box-shadow .2s cubic-bezier(0, .2, .4, 1);
	background-color: #fff;
	/* box-shadow: 0 1px 0 0 rgba(0,0,0,.1); */
	display: block;
	border: 1px solid $newable-grey;
	margin-bottom: 15px; // Header of box
	.case-study-header {
		position: relative;
		line-height: 0;
		&:before {
			display: block;
			content: "\00A0";
			width: 100%;
			padding-top: 56.25%;
		}
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			display: block;
			content: "\00A0";
			width: 100%;
			background: #EFF2F5;
		} // Image container
		.case-study-image-box {
			background-color: #bba095;
			transition: background-color .5s;
			overflow: hidden;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%; // The image within the container
			.case-study-image {
				max-width: 100%;
				height: auto;
				display: block;
				-webkit-transform: translateY(-56.25%);
				-moz-transform: translateY(-56.25%);
				-ms-transform: translateY(-56.25%);
				-o-transform: translateY(-56.25%);
				transform: translateY(-56.25%);
				position: relative;
				top: 56.25%;
			}
		} // Sticker element near top right of box	
		.sticker {
			background-color: #fff;
			background-color: rgba(255, 255, 255, .92);
			text-transform: uppercase;
			font-size: 12px;
			line-height: 18px;
			color: #282C35;
			box-sizing: border-box;
			position: absolute;
			display: inline-block;
			top: 0px;
			right: 0px;
			height: 45px;
			width: 45px;
			.yellow {
				background-color: #ffe862;
			}
		}
	} // Main body
	.case-study-body {
		padding: 5px 20px;
		margin-top: 15px;
		margin-bottom: 30px;
		.case-study-title {
			display: block;
			color: #282C35;
			font-size: 15px;
			letter-spacing: 0;
			padding: 0;
			padding-bottom: 35px;
			min-height: 1.5em;
			font-family: $circular-font;
			color: $newable-dark-grey;
			font-size: 21px;
			font-weight: 500;
			line-height: 24px;
			margin-bottom: 10px;
			border-bottom: 1px solid $newable-dark-grey;
		}
		.case-study-blurb {
			max-height: 125px;
			font-family: $balto-font;
			color: $newable-dark-grey;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			&:after {
				font-family: $balto-font;
				color: $newable-blue;
				font-size: 18px;
				font-weight: 300;
				line-height: 24px;
				content: '[...]';
			}
		}
	}
}

// Case study boxes
.feature-box-container {
	background-color: #fff;
	border: 1px solid $newable-grey;
	margin-bottom: 15px;
	height: auto;
	.feature-box-header {
		position: relative;
		line-height: 0; // Image container
		.feature-box-image-box {
			height: auto; // The image within the container
			.feature-box-image {
				height: auto;
			}
		} // Sticker element near top right of box	
		.sticker {
			background-color: #fff;
			background-color: rgba(255, 255, 255, .92);
			text-transform: uppercase;
			font-size: 12px;
			line-height: 18px;
			color: #282C35;
			box-sizing: border-box;
			position: absolute;
			display: inline-block;
			top: 0px;
			right: 0px;
			height: 45px;
			width: 45px;
			.yellow {
				background-color: #ffe862;
			}
		}
	} // Main body
	.feature-box-body {
		padding: 5px 20px;
		margin-top: 15px;
		margin-bottom: 0px;
		.feature-box-title {
			display: block;
			letter-spacing: 0;
			padding: 0;
			padding-bottom: 15px;
			min-height: 1.5em;
			color: $newable-dark-grey;
			line-height: 30px;
			font-family: $circular-font;
			font-size: 30px;
			font-weight: 500;
			a {
				color: $newable-navy;
			}
		}
		.feature-box-blurb {
			max-height: 125px;
			font-family: $balto-font;
			color: $newable-dark-grey;
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			&:after {
				font-family: $balto-font;
				color: $newable-blue;
				font-size: 18px;
				font-weight: 300;
				line-height: 24px;
				content: '[...]';
			}
		}
		.feature-box-excerpt {
			padding-bottom: 55px;
		}
	}
	.feature-box-footer {
		padding-right: 20px;
		padding-left: 20px;
		position: absolute;
		bottom: 35px;
	}
}

.video-box-container {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: box-shadow .2s cubic-bezier(0, .2, .4, 1);
	background-color: #fff;
	/* box-shadow: 0 1px 0 0 rgba(0,0,0,.1); */
	display: block;
	border: 1px solid $newable-grey;
	margin-bottom: 15px; // Header of box
	.video-box-header {
		position: relative;
		line-height: 0;
		&:before {
			display: block;
			content: "\00A0";
			width: 100%;
			padding-top: 56.25%;
		}
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			display: block;
			content: "\00A0";
			width: 100%;
			background: #EFF2F5;
		} // Image container
		.video-box-image-box {
			background-color: #bba095;
			transition: background-color .5s;
			overflow: hidden;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%; // The image within the container
			.video-box-image {
				max-width: 100%;
				height: auto;
				display: block;
				-webkit-transform: translateY(-56.25%);
				-moz-transform: translateY(-56.25%);
				-ms-transform: translateY(-56.25%);
				-o-transform: translateY(-56.25%);
				transform: translateY(-56.25%);
				position: relative;
				top: 56.25%;
			}
		}
	}
}

.icon {
	position: relative;
	display: block;
	height: 45px;
	width: 45px;
	background-repeat: no-repeat;
	background-position: center center;
	&.icon-small {
		height: 15px;
		width: 23px;
	} // Specific icons
	&.icon-news {
		background-image: url("/assets/img/icons/news-yellow.jpg");
	}
	&.icon-download {
		background-image: url("/assets/img/icons/download-yellow.jpg");
	}
}

.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	width: 100%;
	&.small {
		height: 70px;
		width: 70px;
		background-image: url("/assets/img/icons/play.png");
	}
	&.large {
		width: 106px;
		height: 106px;
		background-image: url("/assets/img/icons/play-large.png");
	}
}

.download-button {
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/assets/img/icons/download-blue.jpg");
}

// Generic box styling
.content-box {
	.header {
		width: 100%;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $newable-grey;
		a {
			margin-top: 20px;
		}
		.heading {
			line-height: 24px;
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 21px;
			font-weight: 500;
		}
	}
	.content {
		margin-bottom: 60px;
		p {
			line-height: 24px;
			font-family: Balto;
			color: $newable-dark-grey;
			font-size: 18px;
			font-weight: 300;
			&.inline-title {
				font-size: 18px;
				font-family: Balto;
				color: $newable-navy;
				font-weight: 300;
				line-height: 33px;
			}
			&.faded-text {
				font-size: 18px;
				font-family: Balto;
				color: #b4b4b9;
				font-weight: 300;
				line-height: 33px;
				word-wrap: break-word;
			}
		}
	}
}

// Generic box styling
.padded-content-box {
	padding: 30px 30px;
	background-color: #ffffff;
	margin-bottom: 30px;
	.header {
		width: 100%;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $newable-grey;
		a {
			margin-top: 20px;
		}
		.heading {
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 30px;
			font-weight: 500;
			line-height: 48px;
		}
		.sub-heading {
			line-height: 24px;
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 21px;
			font-weight: 500;
		}
	}
	.content {
		margin-bottom: 0px;
		p {
			line-height: 24px;
			font-family: Balto;
			color: $newable-dark-grey;
			font-size: 18px;
			font-weight: 300;
			>i {
				margin-right: 10px;
			}
			&.inline-title {
				font-size: 18px;
				font-family: Balto;
				color: $newable-navy;
				font-weight: 300;
				line-height: 33px;
			}
			&.faded-text {
				font-size: 18px;
				font-family: Balto;
				color: #b4b4b9;
				font-weight: 300;
				line-height: 33px;
				word-wrap: break-word;
			}
		}
	}
	.team-member {
		margin-bottom: 30px;
	}
}

.highlight {
	background-color: #ffe862;
}

.quoted {
	quotes: '\201c' '\201d';
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}