.blurb-box {
	.blurb-box-header {
		border-bottom: 1px solid #000;
		margin-bottom: 30px;
		.blurb-box-heading h2 {
			font-family: $circular-font;
			color: $newable-navy;
			font-size: 30px;
			font-weight: 500;
			line-height: 40px;
		}
	}
	.blurb-box-body {
		p {
			line-height: 24px;
			font-family: $balto-font;
			color: $newable-dark-grey;
			font-size: 18px;
			font-weight: 300;
		}
	}
}

.bolder {
	line-height: 24px;
	font-family: $circular-font;
	color: $newable-blue;
	font-size: 21px;
	font-weight: 500;
}

.downloadable-item-wrapper {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}

.downloadable-item-wrapper:before {
	display: block;
	content: "\00A0";
	width: 100%;
	padding-top: 115%;
}

.downloadable-item-wrapper:focus .downloadable-item-overlay,
.downloadable-item-wrapper:hover .downloadable-item-overlay {
	width: 100%;
	left: 0;
	border: 2px solid $newable-grey;
}

.downloadable-item-image-container {
	background-color: $newable-grey;
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.downloadable-item-image {
	display: block;
	margin: auto;
	height: auto;
	width: 100%;
	display: block;
	-webkit-transform: translateY(-115%);
	transform: translateY(-115%);
	position: relative;
	top: 115%;
}

.downloadable-item-overlay {
	position: absolute;
	top: 0;
	left: 100%;
	right: 0;
	background-color: #fff;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .1s ease;
}

.overlay-link {
	display: block;
	text-decoration: none;
	color: #007f8c;
}

.downloadable-item-text {
	font-family: $circular-font;
	color: $newable-navy;
	font-size: 21px;
	font-weight: 500;
	line-height: 24px;
	position: absolute;
	overflow: hidden;
	top: 10%;
	left: 10%;
	right: 10%;
	height: auto;
}

.downloadable-item-link {
	position: absolute;
	bottom: 5%;
	left: 10%;
}

.downloadable-item-link a {
	font-family: $balto-font;
	color: $newable-blue;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}