// Get in touch section above footer
#get-in-touch {
	font-family: $balto-font;
	font-size: $small-heading;
	font-weight: $light;
	color: $newable-white;
	background-color: $newable-navy;
	padding-top: 52px;
	padding-bottom: 58px;
	line-height: 24px;
	
	h2{
		color: $newable-white;
		font-size: $secondary-heading;
		line-height: 24px;
		padding-top: 32px;
		padding-bottom: 47px;
	}
	
	h3{
		color: $newable-white;
	}
	
	img{
		display: inline-block;
		margin: auto;
		height: 64px;
		width: auto;
	}
	
	p{
		color: $newable-white;
	}
	
	a{
		color: $newable-white;
		
		&:hover{
			text-decoration: underline;
			color: #E5E5E5;
		}
	}
}

#footerfixed {
   position:fixed;
   left:0px;
   bottom:0px;
   height:auto;
   width:100%;
   background-color:$newable-grey;
   z-index: 1000;
}

#footer {
	margin-top: 100px;
	min-height: 158px;
	background-color: $newable-dark-grey;
	font-family: $balto-font;
	font-size: $small-text;
	font-weight: $normal;
	line-height: 22px;
	color: $newable-footer-grey;
	
	a{
		color: $newable-footer-grey;
		
		&:hover, 
		&:focus{
				color: $newable-footer-grey;
				text-decoration: underline;
		}
	}
	
	.logo{
		height: 35px;
		width: auto;
	}
				
}

#lowerfooter {
	background-color: $newable-grey;
	height: auto;
	color: $newable-dark-grey;
	font-size: $small-text;
	font-weight: $light;
	line-height: 20px;
	margin-top: 0px;
	
	h6{
		color: $newable-dark-grey;
		font-family: $balto-font;
		text-align: left;
	}
}

.social{
		ul{
			list-style-type: none;
			margin:0;
			padding:0;
			
			li{
				display: inline-block;
				margin-right: 10px;
				
				a{
					text-decoration: none;
					
					img{
						width: auto;
						height: 26px;
					}
					
					&:hover{
						text-decoration: none;
					}
				}
			}
			
			/* Landscape tablets and medium desktops */
			@media (min-width: 992px) and (max-width: 1199px) {
				li{
					margin-right: 5px;
				}
			}
		}
	} 

#disclaimer{
	@extend .dark_blue;
	padding-top:15px;
	padding-bottom:30px;
	text-align: center;
	
	p{
		font-size:17px;
	}
}