/* Styling for form box blocks */

.form-box {
	p.info {
		font-family: $balto-font;
		color: #ffffff;
		font-size: 21px;
		font-weight: 300;
		margin-bottom: 33px;
	}
	.key-info {
		font-size: 21px;
		font-family: $circular-font;
		color: $newable-navy;
		font-weight: 500;
		line-height: 26px;
		&.big {
			font-size: 66px;
			line-height: 44px;
		}
		&.small {
			font-size: 18.03px;
			line-height: 26px;
			transform: scaleY(0.998);
		}
	}
	width: 100%;
	height: auto;
	background-color: none;
	color: #ffffff;
	padding: 15px 25px;
	margin-bottom: 30px; // Main header
	.header {
		border-bottom: 1px solid #ffffff;
		margin-bottom: 30px; // A container for the heading
		.heading {
			display: inline-block;
			color: #ffffff;
			margin-bottom: 13px;
			width: 80%; // Styling for text that is the heading
			h2 {
				font-family: $circular-font;
				color: #ffffff;
				font-size: 30px;
				font-weight: 500;
				line-height: 37px;
				margin-top: 10px;
				margin-bottom: 0px;
			}
		}
		.close-button {
			float: right;
			display: inline-block;
			background: none;
			width: 30px;
			height: 30px;
			.icon-close {
				width: 30px;
				height: 30px;
			}
			&:hover,
			&:focus {
				color: $newable-blue;
			}
		}
		.close {
			position: relative;
			display: inline-block;
			width: 30px;
			height: 30px;
			overflow: hidden;
			color: $newable-white;
			opacity: 1;
			text-shadow: none;
			&:hover {
				&::before {
					border: 2px solid $newable-blue;
					color: $newable-blue;
				}
			}
			&::before {
				border: 2px solid $newable-white;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				content: '\d7';
				font-size: 25px;
				color: #fff;
				line-height: 25px;
				text-align: center;
			}
		}
	} // Styling for form elements 
	p,
	label,
	select,
	option,
	input,
	textarea {
		font-family: $balto-font;
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
	}
	label {
		margin-bottom: 13px; // Add the semicolon after all labels
		&:after {
			content: ":";
		}
	}
	option {
		color: #000000;
	}
	textarea.form-control {
		height: auto;
	} // Edits to the form control class
	.form-control {
		border: 1px solid #ffffff;
		border-radius: 0;
		box-shadow: none;
		height: 45px;
		&.filled {
			background: #ffffff;
			color: #000000;
		}
		&.transparant {
			background: none;
			color: #fff;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			/* ...and now for the proper property */
			transition: .5s;
			&:hover,
			&:focus {
				border: 1px solid #0af;
			}
		}
	} // Placement of he submit button
	button[type="submit"] {
		margin-top: 35px;
		&.no-margin {
			margin: 0;
		}
	} // Placeholder styling
	::-webkit-input-placeholder {
		font-family: $balto-font;
		color: rgba(77, 78, 94, 0.5);
		font-size: 18px;
		font-weight: 300;
	}
	::-moz-placeholder {
		font-family: $balto-font;
		color: rgba(77, 78, 94, 0.5);
		font-size: 18px;
		font-weight: 300;
	}
	:-ms-input-placeholder {
		font-family: $balto-font;
		color: rgba(77, 78, 94, 0.5);
		font-size: 18px;
		font-weight: 300;
	}
	:-moz-placeholde {
		font-family: $balto-font;
		color: rgba(77, 78, 94, 0.5);
		font-size: 18px;
		font-weight: 300;
	}
	.description {
		min-height: 115px;
	} // Media queries to adjust styling per device
	/* Mobile */
	@media(max-width: 480px) {
		.form-group {
			margin-bottom: 25px;
		}
	}
	button.reset {
		line-height: 37px;
	}
	a.reset {
		font-family: Balto;
		color: $newable-blue;
		font-size: 18px;
		font-weight: 300;
		line-height: 23px;
		float: right;
		margin-top: 15px;
		>i {
			padding-right: 5px;
		}
	}
	&.dark_blue {
		select {
			option {
				color: #fff;
				background-color: $newable-navy;
				&:hover,
				&:focus {
					color: $newable-blue;
					background-color: $newable-navy;
				}
			}
		}
	}
	&.favourites {
		background-color: $newable-dark-grey;
		padding-bottom: 0px;
		.header {
			border-bottom: none;
			margin-bottom: 0;
		}
		.body {
			margin-left: -25px;
			margin-right: -25px;
			background-color: #ffffff;
			color: #000000;
			height: 250px;
			overflow-y: scroll;
			overflow-x: hidden;
			p {
				color: #000000;
			}
			table {
				width: 100%;
			}
		}
	}
}

/*****************************************************************/

/**** Quick search box ****/

/*****************************************************************/

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.form-box button[type="submit"] {
		margin-top: 0px;
	}
}

/**** Auto Complete Styling ****/

.easy-autocomplete {
	width: 100% !important;
}

.easy-autocomplete-container {
	.eac-item {
		color: $newable-navy;
	}
}