/* Isotope Grid styling */

* {
    box-sizing: border-box;
}

/* Placement of Add Widget Button on Full Width Grid Widgets styling */

.grid-item-full {
    section.widget {
        position: relative;
        .header {
            .heading {
                padding-left: 30px;
            }
            .AddWidget {
                z-index: 5;
                position: absolute;
                right: 26px;
                top: 10px;
            }
        }
    }
}

/* Isotope news grid */

#news-grid {
    /* ---- grid ---- */
    .grid {
        background: transparent;
    }
    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }
    /* ---- .grid-item ---- */
    .gutter-sizer {
        width: 1%;
    }
    .grid-item,
    .grid-sizer {
        width: 24.2%;
    }
    /* ---- .main grid 6 + 3 + 3 ---- */
    .grid-item {
        float: left;
        width: 24.2%;
        background: #ffffff;
        border: 2px solid hsla(0, 0%, 100%, 0.5);
        margin-bottom: 15px;
    }
    .grid-item:nth-of-type(5n+2) {
        width: 49.5%;
        height: auto;
    }
    /*
    .grid-item:nth-of-type(2) { width: 49.5%;  height: auto;}
    .grid-item:nth-of-type(3) { width: 24.2%; height: auto;  }
    .grid-item:nth-of-type(4) { width: 24.2%; height: auto;  }
    .grid-item:nth-of-type(5) { width: 24.2%; height: auto;  }
    .grid-item:nth-of-type(6) { width: 24.2%;  height: auto;}
    .grid-item:nth-of-type(7) { width: 49.5%; height: auto;  }
    .grid-item:nth-of-type(8) { width: 24.2%; height: auto;  }
    .grid-item:nth-of-type(9) { width: 24.2%;  height: auto;  }
    .grid-item:nth-of-type(10) { width: 49.5%; height: auto;  }
    .grid-item:nth-of-type(11) { width: 24.2%;  height: auto;}

    */
    .grid-item--special {
        background: #ffffff;
        height: 250px;
        width: 24.2% !important;
    }
    .grid-item--special a {
        color: #ffffff;
    }
    .grid-item:hover {
        border: 2px solid hsla(0, 0%, 0%, 0.5);
        cursor: pointer;
    }
    .grid-item.is-dragging,
    .grid-item.is-positioning-post-drag {
        background: #ffe862;
        z-index: 2;
    }
    /* ---- .main grid 4 + 4 + 4 ---- */
    .packery-drop-placeholder {
        outline: 3px dashed hsla(0, 0%, 0%, 0.5);
        outline-offset: -6px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
    }
    .clear {
        height: 130px;
    }
    .grid-item--gigante {
        width: 320px;
        height: 360px;
    }
}

/* Isotope Widget Grid */

#widget-grid {
    /* ---- grid ---- */
    .grid {
        background: $newable-grey;
    }
    .widget .form-box {
        margin: 0px;
    }
    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }
    .table {
        margin-bottom: 0px;
    }
    /* ---- .grid-item ---- */
    .gutter-sizer {
        width: 1%;
    }
    .grid-item,
    .grid-sizer {
        width: 32.6%;
    }
    /* ---- .main grid 6 + 3 + 3 ---- */
    .grid-item {
        float: left;
        width: 32.6%;
        background: #ffffff;
        border: 2px solid hsla(0, 0%, 100%, 0.5);
        margin-bottom: 15px;
    }
    .grid-item-full {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .grid-item-double {
        width: 66.6%;
        height: auto;
    }
    .grid-item:hover {
        border: 2px solid hsla(0, 0%, 0%, 0.5);
        cursor: pointer;
    }
    .grid-item.is-dragging,
    .grid-item.is-positioning-post-drag {
        background: #ffe862;
        z-index: 2;
    }
    /* ---- .main grid 4 + 4 + 4 ---- */
    .packery-drop-placeholder {
        outline: 3px dashed hsla(0, 0%, 0%, 0.5);
        outline-offset: -6px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
    }
    .clear {
        height: 130px;
    }
    .grid-item--gigante {
        width: 320px;
        height: 360px;
    }
    .form-box {
        margin-bottom: 0px;
    }
}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    #news-grid {
        .grid-item {
            float: left;
            height: auto;
            &:nth-of-type(5n+2) {
                width: 49.5%;
                height: auto;
            }
        }
        /* ---- .grid-item ---- */
        .gutter-sizer {
            width: 1%;
        }
        .grid-item,
        .grid-sizer {
            width: 24%;
        }
    }
}

/* Weird in between sizes (MASSIVE PHONES on landscape) */

@media (min-width: 769px) and (max-width: 991px) {
    #news-grid,
    #widget-grid {
        .grid-item {
            float: left;
            height: auto;
            &:nth-of-type(5n+2) {
                width: 100%;
                height: auto;
            }
        }
        /* ---- .grid-item ---- */
        .gutter-sizer {
            width: 1%;
        }
        .grid-item,
        .grid-sizer {
            width: 49%;
        }
        .grid-item-full {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #news-grid,
    #widget-grid {
        .grid-item {
            float: left;
            height: auto;
            &:nth-of-type(5n+2) {
                width: 100%;
                height: auto;
            }
        }
        /* ---- .grid-item ---- */
        .gutter-sizer {
            width: 1%;
        }
        .grid-item,
        .grid-sizer {
            width: 49%;
        }
        .grid-item-full {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    #news-grid,
    #widget-grid {
        .grid-item {
            float: left;
            width: 100%;
            height: auto;
            border: 1px solid hsla(0, 0%, 0%, 0.5);
            padding: 0px;
            &:nth-of-type(5n+2) {
                width: 100%;
                height: auto;
            }
        }
    }
}