/* Helper classes to acheive particular common things such as spacing etc */

a[aria-expanded=true] .glyphicon-chevron-down {
	display: none;
}

a[aria-expanded=false] .glyphicon-chevron-up {
	display: none;
}

.vertical-center{
	@include flexbox-vertical-center();
}

.force-fill{
	width:100%;
}

.pt-30 {
	padding-top: 30px;
}
.pt-40 {
	padding-top: 40px;
}
.pb-15 {
	padding-bottom: 15px;
}
.pb-25 {
	padding-bottom: 25px;
}
.pb-29 {
	padding-bottom: 29px;
}
.pb-31 {
	padding-bottom: 31px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-47 {
	padding-bottom: 47px;
}
.pb-78 {
	padding-bottom: 78px !important;
}
.pl-10 {
	padding-left: 10px;
}
.mt-10{
	margin-top:10px;
}
.mt-20{
	margin-top:20px;
}
.mt-30{
	margin-top:30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-60{
	margin-top: 60px;
}
.mt-80 {
	margin-top: 80px;
}
.mb-5 {
	margin-bottom: 5px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-80 {
	margin-bottom: 80px;
}
.ml-10 {
	margin-left: 2px;
}
.ml-15 {
	margin-left: 15px;
}
.ml-25-img {
	margin-left: 25px;
}
.ml-25{
	margin-left: 25px;
}

.mr-25{
	margin-right: 25px;
}
.tall {
	min-height: 270px;
}
.push-down {
	margin-top: 25px;
}
.underline {
	text-decoration: underline;
}
.required {
	color: #F80615;
}
.word-wrap {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.offset-custom {
    margin-left: 5%;
}

#funding-neal-resources a:hover,
#funding-lfg-resources a:hover,
#funding-sul-resources a:hover{
	text-decoration: none;
}

#funding-neal-resources,
#funding-lfg-resources,
#funding-sul-resources,
#private-investing-documents{
	
	a:hover > .dark_blue,
	a:focus > .dark_blue{
		background-color: $newable-blue;
		
		p{
			
		}
	}
	
	a:hover > .light_blue,
	a:focus > .light_blue{
		background-color: $newable-navy;
		
		p{
			
		}
	}
	
	a:hover > .dark_grey,
	a:focus > .dark_grey{
		background-color: $newable-navy;
		
		p,
		h2{
			color: $newable-white;
		}
	}
	
	a:hover > .light_grey,
	a:focus > .light_grey{
		background-color: $newable-blue;
		
		p,
		h2{
			color: $newable-white;
		}
	}
	
	a:hover > .pale_grey,
	a:focus > .pale_grey{
		background-color: $newable-dark-grey;
		
		p,
		h2{
			color: $newable-white;
		}
	}
	
	a:hover > .yellow,
	a:focus > .yellow{
		background-color: $newable-navy;
		
		p,
		h2{
			color: $newable-white;
		}
	}
	
}

.strip,
.strip-narrow {
    padding-top: 52px;
    padding-bottom: 52px
}


.strip-narrow {
    min-height: 160px;
	overflow: auto;
    margin: 50px 15px 10px;
		
		h3{
			color: #feffff;
    		font-size: 42px;
    		text-align: center
		}
}

a[aria-expanded=true] .strip-narrow.dark_blue{
	background-color: $newable-yellow;
		
		h3{
			color: $newable-navy;
		}
}

.strip-narrow.dark_blue{
	&:hover{
		background-color: $newable-yellow;
		
		h3{
			color: $newable-navy;
		}
		
		cursor: pointer;
	}
}

#funding-sul-apply-now #services form label{
	font-family: $balto-font;
	color: #333333;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	float:left;
}