.interactions-panel {
	display: table;
	width: 100%;
	.interaction-row {
		line-height: 1;
		margin-bottom: 2px;
		margin-top: 10px;
		.interaction-item {
			display: inline-block;
			margin: 0 5px;
			.interactor {
				color: #c8c7c9;
				background: transparent;
				border: none;
				outline: none;
				&.liked,
				&.watched {
					color: #000;
				}
				&.unliked,
				&.unwatched {
					color: #c8c7c9;
				}
				.icon-block {
					display: inline-block;
					line-height: 0;
					position: relative;
					vertical-align: middle;
					>a {
						color: #c8c7c9;
						&:hover {
							color: #000000;
						}
					}
				}
			}
		}
	}
}

@media(max-width:767px) {
	.interactions-panel {
		width: auto;
		float: none;
	}
}

// Variables
$colorBase: rgba(68, 138, 175, 1);
// Styles
.social-icon-row {
	font-weight: 300;
	font-size: 1.5em;
	height: 35px;
	color: $colorBase;
	position: absolute;
	bottom: 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			vertical-align: middle;
			display: inline-block;
			a {
				display: block;
				font-size: 1.5em;
				text-decoration: none;
				i {
					color: $colorBase;
				}
				&:hover {
					i {
						color: darken($colorBase, 20%);
					}
				}
			}
		}
	}
}