//////////////////////////////////////////////
//MESSAGES WIDGET
//////////////////////////////////////////////

#messages-widget{
    .messages-widget-form{
        overflow: auto;
        .form-recipient-name-container{
            position: relative;
            .form-recipient-name{
            }
            .btn-recipient{
                position: absolute;
                top: 4px;
                bottom: 0;
                font-size: 30px;
                width: 37px;
                height: 37px;
                line-height: 32px;
                padding: 0;
                transition: all 0.5s;
                &.btn-add{
                    background: $newable-blue;
                    color: #fff;
                    right: 4px;
                    &:hover{
                        background: $newable-yellow;
                        color: $newable-navy;
                    }
                }
                &.btn-remove{
                    background: $newable-yellow;
                    color: $newable-navy;
                    right: 44px;
                }
            }
        }
    }
}

//////////////////////////////////////////////
//MESSAGES INDEX
//////////////////////////////////////////////

#all-messages-table_wrapper{

    .bottom{
        padding: 15px 0;
        text-align: center;
        overflow: auto;
    }

    .task-table-title{
        padding-top: 15px;
    }

    .dataTables_info{
        padding-bottom: 20px;
        font-size: 14px;
    }
    
    .dataTables_length{
        display: block;
        float: left;
        label{
            margin-top: 8px;
        }
    }
    .dataTables_paginate{
        float: right;
        display: block;
    }

}

.badge-unread{
    margin-top: 2px;
    background: $newable-blue;
}

#messagesSearchInput,
#tasksSearchInput{
    margin: 20px 0;
}

//////////////////////////////////////////////
//MESSAGES SHOW
//////////////////////////////////////////////

.messages {
    margin: 25px 0;
    .messages-container {
        background: transparent;
        padding: 0;
        overflow-y: scroll;
        height: 500px;
    }
    .messages-send-box {
        margin: 20px 0;
        overflow: auto;
        #message_body {
            border-radius: 0;
        }
    }
    .message {
        margin: 15px 0;
        .user-avatar {
            display: inline-block;
            width: 80px;
            img {
                display: block;
                width: 65px;
                height: auto;
                border-radius: 99px;
            }
        }
        .message-content {
            display: inline-block;
            width: auto;
            vertical-align: top;
            .message-header {
                margin: 5px 0 0 0;
                font-size: 18px;
                vertical-align: top;
            }
            .message-body {
                padding-top: 3px;
                max-width: 615px;
            }
        }
    }
}

.message-send-box{
    background: $newable-navy;
    color: #fff;
    padding: 20px;
    border: 2px solid #fff;
    .form-control {
        border: 1px solid #ffffff;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 45px;
    }
}

.group-participants {
    list-style: none;
    padding: 5px 0 0 0;
    li {
        display: inline-block;
        &:after {
            content: ', ';
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
}

.messaging-options-title {
    &:first-child {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {

//////////////////////////////////////////////
//MESSAGES INDEX
//////////////////////////////////////////////

.all-messages-title{
    text-align: left;
    margin-top: 0;
    float: left;
}
.send-message-widget-mobile-btn{
    float: right;
    background: $newable-blue;
    font-size: 24px;
    color: #fff;
    margin-top: -3px;
    padding: 6px 12px;
    &:active,
    &:focus,
    &:visited{
        color: #fff;
    }
}

#send-message-widget-mobile{
    .modal-content{
        margin: 0 15px;
    }
}

#all-messages-table_wrapper{

    margin-bottom: -85px;

    .sorting,
    .sorting_desc{
        font-size: 14px;
    }
    tbody{
        tr{
            td{
                font-size: 14px;
            }
        }
    }

    .dataTables_length{
        display: none;
    }
    .dataTables_paginate{
        width: 100%;
        .pagination{
            width: 100%;
            .paginate_button{
                display: none;
                &.previous{
                    display: inline-block;
                    float: left;
                }
                &.next{
                    display: inline-block;
                    float: right;
                }
                a{
                    border-radius: 4px;
                    font-size: 14px;
                }
            }
        }
    }

}



//////////////////////////////////////////////
//MESSAGES SHOW
//////////////////////////////////////////////

    .messages-show{
        overflow-y: hidden;
        .navbar-custom{
            margin-top: 40px;
            margin-bottom: 0;
        }
        .breadcrumb-bar{
            display: none;
        }
    }

    .messages-chat-header{
        position: fixed;
        top: 0;
        left: 0;
        background: #e0e0e0;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
        z-index: 100;
        border-bottom: 2px solid #ccc;
        .chat-options-mobile-btn{
            float: right;
            margin: 0;
            color: $newable-navy;
            padding: 0;
            font-size: 17px;
        }
        .go-back-mobile-btn{
            float: left;
            color: $newable-navy;
            font-size: 17px;
            margin-top: 1px;
        }
        .chat-title{
            float: none;
            text-align: center;
            margin: 0;
            font-size: 18px;
            color: $newable-navy;
            white-space:nowrap;
            overflow-x: hidden;
            margin: 0 auto;
            max-width: calc(100vw - 90px);
        }
        hr{
            display: none;
        }
    }

    .messages{
        margin: 0;
        overflow-x: hidden;
        border-top: 1px solid #fff;
        .messages-container{
            height: calc(100vh - 169px);
            margin: 0 -15px;
            .user-msg{
                .message{
                    .message-content{
                        float: left;
                        background: #eaeaea;
                        margin-right: 25px;
                    }
                }
            }
            .recipient-msg{
                .message{
                    .message-content{
                        float: right;
                        background: #dff4ff;
                        margin-left: 25px;
                    }
                }
            }
            .message{
                .user-avatar{
                    display: none;
                }
                .message-content{
                    padding: 3px 10px;
                    border-radius: 6px;
                    border: 2px solid #fff;
                    .message-header{
                        font-size: 15px;
                    }
                    .message-body{
                        max-width: auto;
                        font-size: 14px;
                    }
                }
            }
        }

        .message-options-box{
            display: none;
        }

        #message-mobile-options-box{
            .modal-content{
                background: $newable-navy;
                color: #fff;
                margin: 0 15px;
                border: 2px solid #fff;
            }
        }

        .messages-send-box{
            position: fixed;
            bottom: 0;
            z-index: 100;
            width: 100%;
            margin: 0;
            left: 0;
            border: none;
            padding: 10px 20px;
            background: #e0e0e0;
            label{
                display: none;
            }
            .form-group{
                display: inline-block;
                width: 80%;
                float: left;
                margin: 0;
                #message_body{
                    height: 35px;
                }
            }
            .btn-send-msg{
                display: inline-block;
                float: right;
                min-width: 0;
                width: 17.5%;
                padding: 0;
                border: 2px solid #fff;
                font-size: 16px;
                text-align: center;
                max-width: 55px;
                height: 35px;
                min-height: 0;
                line-height: 33px;
            }
        }

    }
}

@media only screen and (max-width: 350px) {
    .messages-chat-header{
        .chat-title{
            padding-top: 3px;
            font-size: 14px;
            width: 240px;
        }
    }
}