// Mixins are blocks of CSS or functions you can re-use
// To use a mixin it's a little something like this:
// @include <mixin-name> eg: @include lg
// Creates a box of the specified height and width
@mixin box($width, $height) {
	width: $width;
	height: $height;
	text-transform: uppercase;
	font-family: $circular-font;
	font-size: 20px;
	font-weight: $semibold;
	line-height: 24px;
	background-size: cover;
}

// Set Flex Box display
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flexbox-vertical-center() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

@mixin button-main() {
	font-family: $circular-font;
	font-size: 21px;
	font-weight: 500;
	line-height: 37px;
	border-radius: 0;
	padding: 3px 15px 3px 15px;
	min-width: 150px;
	min-height: 45px;
	height: auto;
	border-radius: 0px;
	/* First we need to help some browsers along for this to work.
	 Just because a vendor prefix is there, doesn't mean it will
	 work in a browser made by that vendor either, it's just for
	 future-proofing purposes I guess. */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	/* ...and now for the proper property */
	transition: .5s;
}