/* Navigation bar */

.navbar-custom {
	background-color: #f5f5f5;
	border-color: transparent;
	margin-bottom: 30px;
}

/* Large desktops and laptops */

@media (min-width: 1200px) {
	.navbar-custom {
		.navbar-brand {
			margin-top: 64px;
			padding-top: 0;
			padding-bottom: 0;
			>img {
				width: 160px;
				height: auto;
			}
		}
		.navbar-nav {
			background-color: $newable-blue;
			min-height: 110px;
			li {
				>a {
					font-family: $circular-font;
					color: #ffffff;
					font-size: 15px;
					font-weight: 500;
					line-height: 37px;
					margin-top: 58px;
					padding-bottom: 5px;
					text-align: center;
					padding-left: 26px;
					padding-right: 26px;
					&:focus,
					&:hover {
						color: $newable-navy;
						background-color: transparent;
					}
				}
			}
		}
		.navbar-form.navbar-search {
			margin-top: 0px;
			margin-bottom: -43px;
			>.input-group {
				border-bottom: 1px solid #ffffff;
				margin-right: 26px;
				.input-group-btn>.btn-default {
					border: 0;
					background: none;
					>.glyphicon-search {
						color: #ffffff;
					}
				}
				>.form-control {
					border: 0;
					border-radius: 0;
					box-shadow: none;
					background: none;
					color: #ffffff;
					&::-webkit-input-placeholder {
						/* Chrome/Opera/Safari */
						color: #ffffff
					}
					&::-moz-placeholder {
						/* Firefox 19+ */
						color: #ffffff
					}
					&:-ms-input-placeholder {
						/* IE 10+ */
						color: #ffffff
					}
					&:-moz-placeholder {
						/* Firefox 18- */
						color: #ffffff
					}
				}
			}
		}
		.navbar-collapse {
			padding: 0;
		}
	}
	/* Navigation styling ends */
}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-custom {
		.navbar-brand {
			margin-top: 64px;
			padding-top: 0;
			padding-bottom: 0;
			>img {
				width: 160px;
				height: auto;
			}
		}
		.navbar-nav {
			background-color: $newable-blue;
			min-height: 110px;
			li {
				>a {
					font-family: $circular-font;
					color: #ffffff;
					font-size: 15px;
					font-weight: 500;
					line-height: 37px;
					margin-top: 58px;
					padding-bottom: 5px;
					text-align: center;
					padding-left: 26px;
					padding-right: 26px;
					&:focus,
					&:hover {
						color: $newable-navy;
						background-color: transparent;
					}
				}
			}
		}
		.navbar-form.navbar-search {
			margin-top: 0px;
			margin-bottom: -43px;
			>.input-group {
				border-bottom: 1px solid #ffffff;
				margin-right: 26px;
				.input-group-btn>.btn-default {
					border: 0;
					background: none;
					>.glyphicon-search {
						color: #ffffff;
					}
				}
				>.form-control {
					border: 0;
					border-radius: 0;
					box-shadow: none;
					background: none;
					color: #ffffff;
					&::-webkit-input-placeholder {
						/* Chrome/Opera/Safari */
						color: #ffffff
					}
					&::-moz-placeholder {
						/* Firefox 19+ */
						color: #ffffff
					}
					&:-ms-input-placeholder {
						/* IE 10+ */
						color: #ffffff
					}
					&:-moz-placeholder {
						/* Firefox 18- */
						color: #ffffff
					}
				}
			}
		}
		.navbar-collapse {
			padding: 0;
		}
	}
	/* Navigation styling ends */
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,
	.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}
	.navbar-custom .navbar-toggle {
		margin-right: 0px;
	}
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.navbar-custom {
		margin-bottom: 30px;
		.navbar-right {
			margin-right: 0px;
		}
		.pull-right {
			float: none !important;
		}
		>.container .navbar-brand {
			margin-left: 0px;
		}
		.navbar-brand {
			margin-top: 15px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 0px;
			>img {
				width: 130px;
				height: auto;
			}
		}
		.navbar-nav {
			background-color: $newable-blue;
			min-height: 110px;
			li {
				>a {
					font-family: $circular-font;
					color: #ffffff;
					font-size: 15px;
					font-weight: 500;
					line-height: 37px;
					margin-top: 0px;
					padding-bottom: 5px;
					text-align: left;
					padding-left: 26px;
					padding-right: 26px;
					margin-left: 26px;
					margin-right: 26px;
					&:focus,
					&:hover {
						color: $newable-navy;
						background-color: transparent;
					}
				}
			}
		}
		.navbar-form.navbar-search {
			margin-top: 0px;
			margin-bottom: -10px;
			background-color: $newable-blue;
			>.input-group {
				border-bottom: 1px solid #ffffff;
				margin-right: 26px;
				margin-left: 26px;
				.input-group-btn>.btn-default {
					border: 0;
					background: none;
					>.glyphicon-search {
						color: #ffffff;
					}
				}
				>.form-control {
					border: 0;
					border-radius: 0;
					box-shadow: none;
					background: none;
					color: #ffffff;
					&::-webkit-input-placeholder {
						/* Chrome/Opera/Safari */
						color: #ffffff
					}
					&::-moz-placeholder {
						/* Firefox 19+ */
						color: #ffffff
					}
					&:-ms-input-placeholder {
						/* IE 10+ */
						color: #ffffff
					}
					&:-moz-placeholder {
						/* Firefox 18- */
						color: #ffffff
					}
				}
			}
		}
		.navbar-collapse {
			padding: 0;
		}
		.navbar-toggle {
			margin-right: 0px;
			border-color: $newable-blue;
			border-radius: 0px;
			margin-top: 15px;
			&:hover,
			&:focus {
				border-color: $newable-navy;
				background-color: transparent;
				.icon-bar {
					background-color: $newable-navy;
				}
			}
			.icon-bar {
				background-color: $newable-blue;
			}
		}
	}
	/* Navigation styling ends */
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.navbar-custom {
		margin-bottom: 0px;
		.pull-right {
			float: none !important;
		}
		.navbar-brand {
			margin-top: 15px;
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 0px;
			>img {
				width: 130px;
				height: auto;
			}
		}
		.navbar-nav {
			background-color: $newable-blue;
			min-height: 110px;
			li {
				>a {
					font-family: $circular-font;
					color: #ffffff;
					font-size: 15px;
					font-weight: 500;
					line-height: 37px;
					margin-top: 0px;
					padding-bottom: 5px;
					text-align: left;
					padding-left: 26px;
					padding-right: 26px;
					margin-left: 15px;
					margin-right: 15px;
					&:focus,
					&:hover {
						color: $newable-navy;
						background-color: transparent;
					}
				}
			}
		}
		.navbar-form.navbar-search {
			margin-top: 0px;
			margin-bottom: -10px;
			background-color: $newable-blue;
			>.input-group {
				border-bottom: 1px solid #ffffff;
				margin-right: 15px;
				margin-left: 15px;
				.input-group-btn>.btn-default {
					border: 0;
					background: none;
					>.glyphicon-search {
						color: #ffffff;
					}
				}
				>.form-control {
					border: 0;
					border-radius: 0;
					box-shadow: none;
					background: none;
					color: #ffffff;
					&::-webkit-input-placeholder {
						/* Chrome/Opera/Safari */
						color: #ffffff
					}
					&::-moz-placeholder {
						/* Firefox 19+ */
						color: #ffffff
					}
					&:-ms-input-placeholder {
						/* IE 10+ */
						color: #ffffff
					}
					&:-moz-placeholder {
						/* Firefox 18- */
						color: #ffffff
					}
				}
			}
		}
		.navbar-collapse {
			padding: 0;
		}
		.navbar-toggle {
			margin-right: 0px;
			border-color: $newable-blue;
			border-radius: 0px;
			margin-top: 15px;
			&:hover,
			&:focus {
				border-color: $newable-navy;
				background-color: transparent;
				.icon-bar {
					background-color: $newable-navy;
				}
			}
			.icon-bar {
				background-color: $newable-blue;
			}
		}
	}
	/* Navigation styling ends */
}