/////////////
////CREATE POLL WIDGET
/////////////

#snap-pole,
#create-poll {
    #answer-fields {
        margin-bottom: 25px;
        .form-group {
            position: relative;
            .remove-btn {
                position: absolute;
                right: 5px;
                top: 42px;
                border: none;
                cursor: pointer;
                width: 35px;
                height: 35px;
                font-size: 20px;
                padding: 6px 9px;
            }
        }
    }
}

#anonymous-chkbox{
    &:after{
        content: '';
    }
}

.poll-display {
    &.form-box {
        .description {
            min-height: 0;
            color: $newable-white;
        } // .header{ 
        //     border-bottom: 1px solid $newable-navy;
        //     .heading{
        //         h2{
        //             color: $newable-navy;
        //         }
        //     }
        // }
        label {
            &:after {
                content: '';
            }
        }
    }
}

/////////////
////DISPLAY POLL RESULTS WIDGET
/////////////

#poll-results {
    overflow: hidden;
    background: #fff;
    height: 500px;
    .header {
        .heading {
            h2 {
                color: $newable-navy;
            }
        }
    }
    .no-polls-text {
        text-align: center;
    }
    .poll-chart-slider {
        .slick-arrow {
            position: absolute;
            margin: auto;
            width: auto;
            height: auto;
            font-size: 48px;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;
            color: $newable-navy;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                color: $newable-blue;
            }
            &.slick-disabled {
                color: $newable-navy + 50;
            }
            &.fa-arrow-right {
                right: 25px;
            }
            &.fa-arrow-left {
                left: 25px;
            }
        }
        .slick-dots {
            bottom: -25px;
        }
    }
    .poll-chart {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        .poll-title {
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
            color: $newable-navy;
        }
        div {
            div:first-child {
                margin: 0 auto;
            }
        } //Stops tooltip flicker
        svg>g>g:last-child {
            pointer-events: none
        }
    }
    .fa-plus {
        color: $newable-navy;
    }
    .fa-plus:hover:before {
        color: $newable-navy;
    }
    .fa-bars {
        color: $newable-navy;
    }
    .fa-bars:hover:before {
        color: $newable-navy;
    }
}

@media only screen and (max-width: 768px) {

    #poll-results{
        .poll-chart{
            .poll-title{
                padding: 10px 0 0 30px;
                font-size: 20px;
                text-align: left;
            }
        }
    }

}