#social-widget {
    .form-box {
        min-height: 475px !important;
        background-color: $newable-blue;
        &.facebook-widget {
            background-color: $newable-navy;
        }
    }
    .social-icon {
        text-align: center;
        .fa-twitter,
        .fa-linkedin,
        .fa-facebook {
            font-size: 48px;
            color: #fff;
            padding: 0 0 25px 0;
        }
    }
}

.social-slider {
    position: relative;
    .tweet-text,
    .facebook-text {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        padding: 0 35px;
        text-align: left;
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        .social-img {
            max-width: 185px;
            margin-top: 20px;
        }
    }
    .tweet-stats,
    .facebook-date {
        color: #fff;
        font-size: 16px;
        text-align: center;
        margin-bottom: 0;
        a {
            color: inherit;
        }
    }
    .slick-arrow {
        position: absolute;
        margin: auto;
        width: auto;
        height: auto;
        font-size: 32px;
        display: block;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 999;
        color: #fff;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        cursor: pointer;
        &.fa-arrow-right {
            right: -10px;
        }
        &.fa-arrow-left {
            left: -10px;
        }
    }
}