.spotlight-box {
    background-color: #ffffff;
    margin-bottom: 30px;
    .spotlight-box-header {
        margin-bottom: 30px;
        &.sixty-second-spotlight {
            background-color: $newable-navy;
        }
        &.newbies-at-newable {
            background-color: $newable-dark-grey;
        }
        .spotlight-feature {
            width: 100%;
            max-height: 200px;
        }
        .spotlight-info {
            margin-top: 15px;
            .meta-info {
                color: #cacacd;
                font-size: 15px;
                font-family: $balto-font;
                font-weight: 300;
                i {
                    padding-right: 5px;
                }
            }
            .title {
                color: #ffffff;
                margin-bottom: 0px;
            }
            .user {
                color: $newable-blue;
            }
        }
        .spotlight-picto-container {
            height: auto;
            float: right;
            img {
                width: auto;
                height: 200px;
                padding: 30px 30px 30px 0;
            }
        }
    }
    .spotlight-box-body {
        background-color: #ffffff;
        min-height: 50px;
        padding: 0 30px 30px 30px;
        .who-where {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $newable-grey;
        }
        .spotlight-quote {
            padding: 0 110px 0 40px;
            margin-bottom: 30px;
        }
    }
}

@media(max-width:480px) {
    .spotlight-box {
        .spotlight-box-header {
            .spotlight-info {
                margin-top: 15px;
                padding: 0 30px;
            }
        }
        .spotlight-box-body {
            background-color: #ffffff;
            min-height: 50px;
            padding: 0 30px 30px 30px;
            .who-where {
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid $newable-grey;
            }
            .spotlight-quote {
                padding: 0 0 0 0;
                margin-bottom: 30px;
            }
        }
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .spotlight-box .spotlight-box-header .spotlight-picto-container img {
        height: 175px;
    }
}