/* mixin for multiline */

.btn-primary {
    color: #fff;
    background-color: $newable-blue;
    border-color: #2e6da4;
}

.widget {
    height: auto;
}

#news_approval {
    ul {
        list-style: none;
        margin-bottom: 30px !important;
    }
    li a {
        font-size: 16px;
        color: white;
    }
    ol,
    ul {
        margin: 0;
        padding: 0;
    }
}

/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default>.panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title>a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EEEEEE;
}

.welcome-box {
    a.btn-filled-blue,
    input.btn-filled-blue,
    button.btn-filled-blue {
        font-family: $circular-font;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 0;
        padding: 10px;
        min-width: auto;
        min-height: auto;
        height: auto;
        border-radius: 1px;
        -webkit-transition: .5s;
        transition: .5s;
        border: 1px solid #0af;
        background-color: #0af;
        color: #fff;
    }
    a.btn-filled-blue:hover,
    a.btn-filled-blue:focus,
    input.btn-filled-blue:hover,
    input.btn-filled-blue:focus,
    button.btn-filled-blue:hover,
    button.btn-filled-blue:focus {
        border: 1px solid #ffe862;
        background-color: #ffe862;
        color: $newable-navy;
    }
}

/* widget css */

.widget {
    margin-bottom: 0px;
}

#downloads {
    background-color: #ffffff;
    padding: 10px 85px 10px 25px;
    .fa-plus{
        color: $newable-navy;
    }
    .downloadable-item-link{
        .download-icon{
            i{
                position: absolute;
                bottom: 5px;
                right: -83px;
            }
        }
    }
    .addWidget{
        position: absolute;
        right: 26px;
        top: 9px;
    }
    .blurb-title{
        margin-top: 15px;
    }
}

#video-banner {
    .colour-block {
        padding: 30px 30px 15px 30px;
        color: #ffffff;
    }
    .colour-block-header {
        border-bottom: 1px solid #fff;
        margin-bottom: 30px;
    }
    .colour-block-heading {
        font-family: $circular-font;
        font-size: 30px;
        font-weight: 500;
        line-height: 37px;
        color: #ffffff;
    }
    .colour-block-subheading {
        font-family: $circular-font;
        color: $newable-navy;
        font-size: 21px;
        font-weight: 500;
        line-height: 37px;
        color: #ffffff;
    }
    .colour-block-body p {
        font-family: $balto-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        color: #ffffff;
    }
}

#video-banner {
    height: auto;
    background-color: $newable-navy;
    color: #ffffff;
}

#video-banner p {
    color: #ffffff;
}

#suggestion {
    .form-box {
        min-height: 475px !important;
        background-color: $newable-dark-grey;
    }
}

#snap-pole {
    .form-box {
        min-height: 475px !important;
        background-color: $newable-blue;
    }
}

#picto-banner {
    .colour-block {
        padding: 30px 30px 15px 30px;
        background-color: $newable-blue;
        color: #ffffff;
    }
    .colour-block-header {
        border-bottom: 1px solid #fff;
        margin-bottom: 30px;
    }
    .colour-block-heading {
        font-family: $circular-font;
        font-size: 30px;
        font-weight: 500;
        line-height: 37px;
        color: #ffffff;
    }
    .colour-block-subheading {
        font-family: $circular-font;
        color: $newable-navy;
        font-size: 21px;
        font-weight: 500;
        line-height: 37px;
        color: #ffffff;
    }
    .colour-block-body p {
        font-family: $balto-font;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        color: #ffffff;
    }
    .picto-holder {
        width: 171px;
        height: 169px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .picto-holder-picto {
        width: 100%;
        height: auto;
    }
}

.blub-box {
    margin: 10px 0;
}

.downloadable-item-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}

#culture-block {
    background-color: #ffffff;
    padding: 30px;
}

#Ambassador-block {
    background-color: #ffffff;
    padding: 30px;
}

#Ambassador-block img {
    height: auto;
    width: 300px;
}

#ambassador {
    color: #ffffff;
    background-color: $newable-navy;
    padding: 22px 20px 22px 20px;
    min-height: 142px;
    margin-bottom: 30px;
}

#teams-cms {
    .form-box p.info {
        color: $newable-navy;
    }
    .form-box .header .heading h2 {
        color: $newable-navy;
    }
    .form-box a {
        color: $newable-navy;
    }
    .form-box .header {
        border-bottom: 1px solid $newable-navy;
        ;
    }
}

#templates_wrapper {
    #templates {
        width: 100%;
    }
    #templates_filter {
        width: auto;
        height: auto;
        background-color: $newable-navy;
        color: #ffffff;
        padding: 15px 25px;
        margin-bottom: 30px;
        float: left;
        label {
            font-family: $circular-font;
            font-weight: 500 !important;
            font-size: 24px;
            text-align: center;
        }
        .input-sm {
            width: 250px;
        }
    }
    #templates_info {
        float: left;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        width: 100%
    }
    #templates_length {
        float: left;
        width: 25%;
        margin-top: 10px;
    }
    #templates_paginate {
        float: right;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 480px) {
    #templates_wrapper {
        #templates_info {
            float: left;
            margin-top: 0px;
            margin-right: 25px;
            width: 100%;
        }
    }
}

.fa-plus {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
    color: #ffffff;
}

.fa-bars {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
}

.fa-plus:hover:before {
    content: "\f0c9";
    font-size: 30px;
    color: #ffffff;
}

.fa-bars:hover:before {
    content: "\f00d ";
    font-size: 30px;
}

#calendar {
    .fa-plus {
        margin-top: -5px;
        margin-bottom: 0px;
        font-size: 30px;
        color: $newable-navy;
    }
    .header {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .fa-plus:hover:before {
        content: "\f0c9";
        font-size: 30px;
        color: $newable-navy;
    }
    .fa-bars {
        margin-top: -5px;
        margin-bottom: 0px;
        font-size: 30px;
        color: $newable-navy;
    }
    .fa-bars:hover:before {
        content: "\f00d";
        font-size: 30px;
        color: $newable-navy;
    }
}

#teams-cms {
    .fa-plus {
        color: $newable-navy;
    }
    .fa-plus:hover:before {
        color: $newable-navy;
    }
    .fa-bars {
        color: $newable-navy;
    }
    .fa-bars:hover:before {
        color: $newable-navy;
    }
}

#yammer,
#teams-cms {
    .fa-plus {
        color: $newable-navy;
    }
    .fa-plus:hover:before {
        color: $newable-navy;
    }
    .fa-bars {
        color: $newable-navy;
    }
    .fa-bars:hover:before {
        color: $newable-navy;
    }
}

.widget .header input[type="submit"],
.widget .header input[type="reset"],
.widget .header button[type="submit"],
.widget .header button[type="reset"] {
    float: right;
    margin-top: 0px;
}

.widget {
    .form-box button[type="submit"] {
        margin-top: 0px !important;
    }
}

.widget .header {
    .form-box button[type="submit"] {
        margin-top: 0px !important;
    }
    input[type="submit"],
    input[type="reset"],
    button[type="submit"],
    button[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}

.modal-dialog {
    width: 750px;
    margin: 30px auto;
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .modal-dialog {
        width: auto;
        margin: 30px auto;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .modal-dialog {
        width: auto;
        margin: 30px auto;
    }
}


sub, sup {
    font-size: 75%;
    line-height: 1;
    position: relative;
}

.imgWidth{

    width: 100%;
    height: auto;
}

#templates .btn-danger {
 
    margin-bottom: -1em;
}


.btn-info {
    color: #fff;
    background-color:$newable-faded-blue;
    border-color:$newable-blue;
}

.partner_wrap,
.resources_wrap {
  position: relative;
  width: 100%;
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.partner_wrap {
  min-height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.partner_wrap:before {
  content: "";
  height: 270px;
}

.partner_image, .resources_image {
  display: block;
  margin: auto;
  height: auto;
  padding: 5px;
  max-width: 100%;
}

.resources_image {
  height: auto;
  width: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .partner_text {
    width: 313px;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .partner_wrap {
    min-height: 360px;
  }

  .partner_text {
    max-width: 260px;
    text-align: center;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .partner_wrap {
    min-height: 315px;
  }
}
/* Specifally landscape phones */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .partner_wrap {
    min-height: 400px;
  }

  .partner_text {
    font-size: .9em;
    top: 10%;
    width: 85%;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .partner_wrap {
    min-height: 400px;
  }

  .partner_text {
    font-size: .9em;
    top: 10%;
    width: 300px;
  }

  .resources_image {
    height: auto;
    width: 100%;
  }
}
.resources_overlay,
.partner_overlay {
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.1s ease;
}

.resources_wrap:hover .resources_overlay,
.resources_wrap:focus .resources_overlay,
.partner_wrap:hover .partner_overlay,
.partner_wrap:focus .partner_overlay {
  width: 100%;
  left: 0;
}

.partner_text,
.resources_text {
  font-family: "CircularStd";
  color: #4d4e5e;
  position: absolute;
  overflow: hidden;
  top: 15%;
  left: 15%;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  font-size: 0.75em;
}
.partner_text h3,
.resources_text h3 {
  font-size: 1.50em;
  margin: 10px 0 0 0;
}

.partner_text {
  width: 313px;
  text-align: center;
}

.resources_text {
  width: 225px;
}

.resources_overlay a {
  position: absolute;
  bottom: 0;
}

.resources_text h3 {
  width: 240px;
}