/* And here we will set our table to act normally after we hit 1024px */

@media only screen and (min-width: 1024px) {
	table {
		display: table;
	}
	thead {
		display: table-header-group;
	}
	tbody {
		display: table-row-group;
	}
	tfoot {
		display: table-footer-group;
	}
	tr {
		display: table-row;
	}
	th,
	td {
		display: table-cell;
	}
}

.table-vaccancies {
	table {
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;
	}
	caption {
		font-family: $circular-font;
		color: #ffffff;
		font-size: 30px;
		font-weight: 500;
		line-height: 37px;
		background-color: #a6c3ce;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 30px;
		padding-top: 30px;
		padding-bottom: 15px;
		position: relative;
	}
	thead {
		background-color: #a6c3ce;
	}
	>thead>tr>th {
		padding-top: 0px;
		border-left: 1px solid #fff;
		border-bottom: none;
		&:first-child {
			border: none;
		}
	}
	>tfoot>tr>th,
	>thead>tr>td,
	>tbody>tr>td,
	>tfoot>tr>td {
		padding: 6px 8px;
	}
	>tbody>tr:nth-child(even)>td,
	>tbody>tr:nth-child(even)>th {
		background-color: #f0f0f1;
	}
	>thead>tr>th {
		font-family: $circular-font;
		color: #ffffff;
		font-size: 18px;
		font-weight: 500;
		line-height: 37px;
	}
}

.table-vaccancies>thead>tr>th:first-child {
	padding-left: 30px;
	padding-right: 0px;
}

.table-vaccancies>tbody>tr>td {
	font-family: $balto-font;
	color: #9d9d9d;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
}

.table-vaccancies>tbody>tr>td:first-child {
	padding-left: 30px;
	padding-right: 0;
}

.table-main-heading {
	font-family: $circular-font;
	color: #ffffff;
	font-size: 30px;
	font-weight: 500;
	line-height: 37px;
	background-color: #a6c3ce;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 15px;
}

.dataTables_wrapper {
	overflow-x: auto;
}