//////////////////////////////////////////////
//TASK INDEX
//////////////////////////////////////////////
#create_task_form{
    .form-recipient-name-container{
        position: relative;
        .form-recipient-name{
        }
        .btn-recipient{
            position: absolute;
            top: 4px;
            bottom: 0;
            font-size: 30px;
            width: 37px;
            height: 37px;
            line-height: 32px;
            padding: 0;
            transition: all 0.5s;
            &.btn-add{
                background: $newable-blue;
                color: #fff;
                right: 4px;
                &:hover{
                    background: $newable-yellow;
                    color: $newable-navy;
                }
            }
            &.btn-remove{
                background: $newable-yellow;
                color: $newable-navy;
                right: 44px;
            }
        }
    }
}

//////////////////////////////////////////////
//TASK SHOW
//////////////////////////////////////////////

.task-interface {
    h1 {
        padding-bottom: 15px;
    }
    .task-box {
        background: $newable-blue;
        color: $newable-white;
        padding: 20px;
        margin-bottom: 15px;
        border: 2px solid $newable-white;
        .task-row{
            padding-bottom: 5px;
        }
        .form-control {
            border: 1px solid #ffffff;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            height: 45px;
        }
        h3 {
            display: inline-block;
            margin-top: 10px;
            a{
                color: inherit;
            }
        }
        .task-description {
            color: inherit;
            line-height: 27px;
            a{
                color: inherit;
            }
        }
        .group-participants {
            list-style: none;
            padding: 5px 0 0 0;
            li {
                display: inline-block;
                color: #fff;
                &:after {
                    content: ', ';
                }
                &:last-child {
                    &:after {
                        content: '';
                    }
                }
            }
        }
        form {
            margin-bottom: 0;
        }
        .task-status {
            color: inherit;
        }
    }
} 

#openTasksTable_filter,
#closedTasksTable_filter,
#all-messages-table_filter{
    label{
        display: block;
        width: 100%;
        input{
            width: 100%;
            margin: 10px 0;
            height: 34px;
            font-size: 14px;
        }
    }
}

.task-options{
    .leave-task,
    .delete-task{
        display: inline-block;
    }
}

.task-tables{

    .bottom{
        padding: 15px 0;
        text-align: center;
        overflow: auto;
    }

    .task-table-title{
        padding-top: 15px;
    }

    .dataTables_info{
        padding-bottom: 20px;
        font-size: 14px;
    }
    
    .dataTables_length{
        display: block;
        float: left;
        label{
            margin-top: 8px;
        }
    }
    .dataTables_paginate{
        float: right;
        display: block;
    }

}

#editTaskDescription{
    #new-task-description{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {

    .task-messages{
        border-top: none;
    }

    .task-interface{
        .task-box{
            form{
                .form-group{
                    margin-bottom: 10px;
                }
                label{
                    font-size: 14px;
                }
                .btn-filled-navy{
                    font-size: 14px;
                    min-width: 0;
                    min-height: 0;
                    line-height: 30px;
                }
            }
        }
    } 
    .task-options{
        .leave-task{
            padding: 0 15px;
        }
    }

    .message-send-box{
        position: fixed;
        bottom: 0;
        z-index: 100;
        width: 100%;
        margin: 0;
        left: 0;
        border: none;
        padding: 10px 20px;
        background: #e0e0e0;
        label{
            display: none;
        }
        .form-group{
            display: inline-block;
            width: 80%;
            float: left;
            margin: 0;
            #message_body{
                height: 40px;
            }
        }
        .btn-send-msg{
            display: inline-block;
            float: right;
            min-width: 0;
            width: 17.5%;
            padding: 0;
            border: 2px solid #fff;
            font-size: 16px;
            text-align: center;
            max-width: 55px;
            height: 40px;
            min-height: 0;
            line-height: 36px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .task-interface{
        .task-box{
            .assigned-by{
                font-size: 18px;
            }
            .edit-task-btn{
                margin-top: 5px;
            }
        }
    }
}