@import "mixins";
/*****************************************************************/

/**** Generic styling ****/

/*****************************************************************/

body {
	font-family: $balto-font;
	font-size: $body-text;
	font-weight: $normal;
	color: $newable-dark-grey;
	background-color: #f5f5f5; // Fixes weird font rendering
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $circular-font;
	font-weight: $semibold;
}

p {
	font-family: $balto-font;
	font-size: $body-text;
	color: $newable-dark-grey;
	line-height: $paragraph-text-line-height;
	margin: 0 0 15px;
}

.link-text {
	font-family: $circular-font;
	color: $newable-blue;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	&:hover,
	&:focus {
		color: $newable-blue;
		text-decoration: underline;
	}
}

sub,
sup {
	/* Specified in % so that the sup/sup is the
	   right size relative to the surrounding text */
	font-size: 75%;
	/* Zero out the line-height so that it doesn't
	   interfere with the positioning that follows */
	line-height: 0;
	/* Where the magic happens: makes all browsers position
	   the sup/sup properly, relative to the surrounding text */
	position: relative;
	/* Note that if you're using Eric Meyer's reset.css, this
	   is already set and you can remove this rule */
	vertical-align: baseline;
}

sup {
	/* Move the superscripted text up */
	top: -0.5em;
}

sub {
	/* Move the subscripted text down, but only
	   half as far down as the superscript moved up */
	bottom: -0.25em;
}

/*****************************************************************/

/**** Generic styling ****/

/*****************************************************************/

/*****************************************************************/

/**** Quotes ****/

/*****************************************************************/

blockquote {
	padding: 10px 0px;
	padding-right: 15%;
	font-family: $circular-font;
	color: #a6c3ce;
	font-weight: 500;
	font-size: 21px;
	border: none;
	&::before {
		margin-top: 30px;
		content: open-quote;
		font-family: FontAwesome;
		font-size: 90px;
		color: #a6c3ce;
		display: block;
	}
	&::after {
		content: close-quote;
		font-family: FontAwesome;
		font-size: 90px;
		color: #a6c3ce;
		margin-top: 30px;
		display: block;
	}
	footer,
	cite {
		font-family: $circular-font;
		color: #a6c3ce;
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		margin-top: 20px;
	}
}

/*****************************************************************/

/**** Quotes ****/

/*****************************************************************/

/*****************************************************************/

/**** Lists ****/

/*****************************************************************/

ul {
	>li {
		line-height: 24px;
		font-family: $balto-font;
		color: #b4b4b9;
		font-size: 18px;
		font-weight: 300;
		word-wrap: break-word;
	}
	&.dashed {
		list-style-type: none;
		text-align: left;
		li:before {
			content: '\2014';
			/* en dash */
			position: absolute;
			margin-left: -2.2em;
			font-family: "Balto";
			font-size: 18px;
			color: #0af;
			line-height: 24px;
		}
	}
	&.bare {
		list-style-type: none;
		margin: 0;
		padding: 0;
		>li {
			margin-bottom: 10px;
			font-size: 15px;
		}
	}
}

/*****************************************************************/

/**** Lists ****/

/*****************************************************************/

/*****************************************************************/

/**** Buttons ****/

/*****************************************************************/

a,
input,
button {
	&.btn-filled-blue {
		// Include the main button mixin
		@include button-main(); // Colour styling for this button
		border: 1px solid #0af;
		background-color: #0af;
		color: #fff;
		&:hover,
		&:focus {
			border: 1px solid #ffe862;
			background-color: #ffe862;
			color: $newable-navy;
		}
	}
	&.btn-filled-navy {
		// Include the main button mixin
		@include button-main(); // Colour styling for this button
		border: 1px solid #0af;
		background-color: $newable-navy;
		color: $newable-white;
		&:hover,
		&:focus {
			border: 1px solid #ffe862;
			background-color: #ffe862;
			color: $newable-navy;
		}
	}
	&.btn-transparant-link {
		// Include the main button mixin
		@include button-main(); // Colour styling for this button
		border: 1px solid $newable-blue;
		background-color: transparent;
		color: $newable-blue;
		&:hover,
		&:focus {
			border: 1px solid $newable-navy;
			color: $newable-navy;
		}
	}
}

/*****************************************************************/

/**** Button sizing ****/

/*****************************************************************/

.btn-full-width {
	width: 100%;
}

/*****************************************************************/

/**** Button sizing ****/

/*****************************************************************/

/*****************************************************************/

/**** Buttons ****/

/*****************************************************************/

.dark_grey {
	background-color: $newable-dark-grey;
	color: $newable-white;
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	li {
		color: $newable-white;
	}
}

.light_grey {
	background-color: $newable-medium-grey;
	color: $newable-white;
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	li {
		color: $newable-white;
	}
}

.pale_grey {
	background-color: $newable-grey;
	color: $newable-navy;
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	li {
		color: $newable-navy;
	}
}

.dark_blue {
	background-color: $newable-navy;
	color: $newable-white;
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	li {
		color: $newable-white;
	}
}

.light_blue {
	background-color: $newable-blue;
	color: $newable-white;
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	li {
		color: $newable-white;
	}
}

.yellow {
	background-color: $newable-yellow;
	color: $newable-navy;
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	li {
		color: $newable-navy;
	}
}

.heading-underline-wrapper {
	text-align: center;
	margin-bottom: 30px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 39px;
		margin-bottom: 33px;
		font-family: $circular-font;
		color: $newable-navy;
		font-size: 48px;
		font-weight: 500;
		line-height: 37px;
	}
	.underline {
		width: 172px;
		height: 10px;
		display: block;
		margin: 0 auto;
		background-color: $newable-blue;
		&.small {
			width: 100px;
			height: 7px;
		}
	}
}

.introduction {
	margin-top: 58px;
	margin-bottom: 70px;
	display: block;
	>p {
		font-family: $circular-font;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		color: $newable-navy;
		margin: 0 10%;
		text-align: center;
	}
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.heading-underline-wrapper {
		h1 {
			line-height: 50px;
		}
	}
}