/* Welcome box */

.welcome-box {
	background-color: $newable-navy;
	color: #ffffff;
	margin-bottom: 30px;
	.date-strip {
		min-height: 40px;
		margin-bottom: 40px;
		>p.date-time {
			float: right;
			line-height: 40px;
			margin-right: 26px;
			margin-left: 26px;
		}
	}
	.main-content {
		margin-bottom: 30px;
		.main-heading {
			color: #ffffff;
			line-height: 1.1em;
			font-size: 36px;
			margin-bottom: 30px;
			margin-top: 0;
		}
		.display-picture {
			margin-bottom: 15px;
			img {
				border-radius: 50%;
				display: block;
				max-width: 100%;
				height: auto;
				margin: auto;
			}
		}
		.intro-text {
			color: #ffffff;
			margin-bottom: 30px;
		}
	}
	.footer {
		height: 45px;
		width: 100%;
		background-color: #a6c3ce;
		margin-top: 0px;
		margin-bottom: 0px;
		&.animate {
			overflow: hidden;
			position: relative;
			p {
				color: #ffffff;
				position: absolute;
				width: 100%;
				height: 100%;
				margin: 0;
				line-height: 45px;
				text-align: center;
				/* Starting position */
				-moz-transform: translateX(100%);
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
				/* Apply animation to this element */
				-moz-animation: animate 15s linear infinite;
				-webkit-animation: animate 15s linear infinite;
				animation: animate 15s linear infinite;
				.welcome-box-animate-message {
					padding: 0 100px;
					a {
						color: inherit;
					}
				}
			}
		}
	}
}

@-moz-keyframes animate {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes animate {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes animate {
	0% {
		-moz-transform: translateX(100%);
		/* Firefox bug fix */
		-webkit-transform: translateX(100%);
		/* Firefox bug fix */
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		/* Firefox bug fix */
		-webkit-transform: translateX(-100%);
		/* Firefox bug fix */
		transform: translateX(-100%);
	}
}

/* Animation ends */

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.welcome-box {
		a {
			width: 100%;
		}
	}
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.welcome-box {
		a {
			width: 100%;
			margin-bottom: 15px;
			margin-top: 15px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}

/* Welcome box ends */